Repository frender-rs/frender: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint:fix, prettier --write

chore(test): tests for IntoPropValue
  crates/react/src/into_prop_value.rs
Due: none

wip: html intrinsic components
  Cargo.lock
  crates/react-html/Cargo.toml
  crates/react-html/src/data_types/html.rs
  crates/react-html/src/data_types/mod.rs
  crates/react-html/src/data_types/num_or_str.rs
  crates/react-html/src/data_types/text_value.rs
  crates/react-html/src/html_common_shared_props.rs
  crates/react-html/src/html_components/a.rs
  crates/react-html/src/html_components/area.rs
  crates/react-html/src/html_components/audio.rs
  crates/react-html/src/html_components/base.rs
  crates/react-html/src/html_components/blockquote.rs
  crates/react-html/src/html_components/button.rs
  crates/react-html/src/html_components/canvas.rs
  crates/react-html/src/html_components/col.rs
  crates/react-html/src/html_components/colgroup.rs
  crates/react-html/src/html_components/data.rs
  crates/react-html/src/html_components/del.rs
  crates/react-html/src/html_components/details.rs
  crates/react-html/src/html_components/dialog.rs
  crates/react-html/src/html_components/embed.rs
  crates/react-html/src/html_components/fieldset.rs
  crates/react-html/src/html_components/form.rs
  crates/react-html/src/html_components/html.rs
  crates/react-html/src/html_components/iframe.rs
  crates/react-html/src/html_components/mod.rs
  crates/react-html/src/html_media_shared_props.rs
  crates/react-html/src/lib.rs
  crates/react-html/src/macros/all.rs
  crates/react-html/src/macros/component.rs
  crates/react-html/src/macros/props.rs
Due: none

wip: html intrinsic components
  crates/react-html/Cargo.toml
  crates/react-html/src/data_types/bool_or_str.rs
  crates/react-html/src/data_types/html.rs
  crates/react-html/src/data_types/mod.rs
  crates/react-html/src/html_components/a.rs
  crates/react-html/src/html_components/button.rs
  crates/react-html/src/html_components/embed.rs
  crates/react-html/src/html_components/iframe.rs
  crates/react-html/src/html_components/img.rs
  crates/react-html/src/html_components/input.rs
  crates/react-html/src/html_components/ins.rs
  crates/react-html/src/html_components/keygen.rs
  crates/react-html/src/html_components/label.rs
  crates/react-html/src/html_components/li.rs
  crates/react-html/src/html_components/link.rs
  crates/react-html/src/html_components/map.rs
  crates/react-html/src/html_components/menu.rs
  crates/react-html/src/html_components/meta.rs
  crates/react-html/src/html_components/meter.rs
  crates/react-html/src/html_components/mod.rs
  crates/react-html/src/html_components/object.rs
  crates/react-html/src/html_components/ol.rs
Due: none

feat: html intrinsic components
  crates/react-html/src/data_types/html.rs
  crates/react-html/src/html_components/mod.rs
  crates/react-html/src/html_components/object.rs
  crates/react-html/src/html_components/optgroup.rs
  crates/react-html/src/html_components/option.rs
  crates/react-html/src/html_components/output.rs
  crates/react-html/src/html_components/param.rs
  crates/react-html/src/html_components/progress.rs
  crates/react-html/src/html_components/q.rs
  crates/react-html/src/html_components/script.rs
  crates/react-html/src/html_components/select.rs
  crates/react-html/src/html_components/slot.rs
  crates/react-html/src/html_components/source.rs
  crates/react-html/src/html_components/style.rs
  crates/react-html/src/html_components/table.rs
  crates/react-html/src/html_components/td.rs
  crates/react-html/src/html_components/textarea.rs
  crates/react-html/src/html_components/th.rs
  crates/react-html/src/html_components/time.rs
  crates/react-html/src/html_components/track.rs
  crates/react-html/src/html_components/video.rs
  crates/react-html/src/html_table_cell_shared_props.rs
  crates/react-html/src/lib.rs
Due: none

feat: impl IntoPropValue<WrapFn> for Rc<Fn> and &Rc<Fn>
  crates/react/src/safe_into_js/closure.rs
Due: none

feat: event handlers
  Cargo.lock
  crates/frender-macros/src/component_data.rs
  crates/frender-macros/src/component_to_tokens.rs
  crates/react-html/src/html_common_shared_props.rs
  crates/react-html/src/html_components/details.rs
  crates/react-html/src/html_components/input.rs
  crates/react-html/src/html_components/select.rs
  crates/react-html/src/html_components/textarea.rs
  crates/react-html/src/macros/props.rs
  crates/react/Cargo.toml
  crates/react/src/event/events.rs
  crates/react/src/event/handlers.rs
  crates/react/src/event/js/base.rs
  crates/react/src/event/js/events.rs
  crates/react/src/event/js/mod.rs
  crates/react/src/event/js/mouse.rs
  crates/react/src/event/js/ui.rs
  crates/react/src/event/mod.rs
  crates/react/src/event/mouse.rs
  crates/react/src/event/synthetic.rs
  crates/react/src/lib.rs
  crates/react/src/render_into_dom.rs
  crates/react/src/safe_into_js/closure.rs
  crates/react/src/use_effect.rs
  crates/react/src/use_ref/use_ref.rs
Due: none

feat: rename Node trait methods
  README.md
  crates/frender-macros/src/component_to_tokens.rs
  crates/frender-macros/src/custom_element/to_tokens.rs
  crates/frender-macros/src/props_data.rs
  crates/frender-macros/src/props_to_tokens.rs
  crates/react-html/src/html_common_shared_props.rs
  crates/react/src/common_props/optional_children.rs
  crates/react/src/element/element.rs
  crates/react/src/element/fragment.rs
  crates/react/src/element/js_bridge.rs
  crates/react/src/node/any.rs
  crates/react/src/node/children.rs
  crates/react/src/node/node.rs
Due: prettier --write

fix: big numbers should be converted to string to be used as Node
  crates/react/src/node/node.rs
Due: none

fix: component macro
  crates/frender-macros/src/component_to_tokens.rs
Due: none

feat: impl PartialEq and Eq for StateSetter
  crates/react/src/use_state.rs
Due: none

feat: include some traits in frender::prelude
  frender/src/lib.rs
Due: none

feat: use_effect_one allow FnOnce
  crates/react/src/use_effect.rs
  crates/react/src/use_memo.rs
Due: none

example(counter): Counter and Timer
  examples/README.md
  examples/counter/Cargo.toml
  examples/counter/index.html
  examples/counter/src/counter_comp.rs
  examples/counter/src/lib.rs
  examples/counter/src/main.rs
  examples/counter/src/my_counter.rs
  examples/counter/src/my_timer.rs
  examples/counter/src/timer_comp.rs
  release.config.js
Due: yarn run lint:fix, prettier --write

chore: fix some lint warnings
  crates/react-html/src/data_types/bool_or_str.rs
  crates/react-html/src/data_types/num_or_str.rs
  crates/react-html/src/html_common_shared_props.rs
  crates/react-html/src/macros/props.rs
  crates/react/src/use_memo.rs
  examples/counter/src/main.rs
Due: none

feat: CssProperties and style macro
  crates/react-html/src/css.rs
  crates/react-html/src/html_common_shared_props.rs
  crates/react-html/src/lib.rs
  examples/counter/src/main.rs
  frender/src/lib.rs
Due: none

chore: update docs
  frender/README.md
  logo.svg
Due: prettier --write

Create FUNDING.yml
  .github/FUNDING.yml
Due: prettier --write

chore: update docs
  README.md
  frender/README.md
  frender/logo.svg
Due: prettier --write

chore: fix code in docs
  crates/react-html/src/css.rs
Due: none

chore: retry release
  release.config.js
Due: yarn run lint:fix

chore(release): 1.0.0-alpha.4 [skip ci]
  CHANGELOG.md
  Cargo.lock
  crates/frender-macros/Cargo.toml
  crates/react-html/Cargo.toml
  crates/react/Cargo.toml
  frender/Cargo.toml
Due: prettier --write

Notes added by 'git notes add'
  e1e69d016f869312db403e9ec81b7e8c64371247
Due: none

chore: update crate features
  README.md
  crates/react/Cargo.toml
Due: prettier --write

chore: remove some useless steps in release.yml
  .github/workflows/release.yml
Due: prettier --write

fix(react): remove unused dependencies
  Cargo.lock
  README.md
  crates/react/Cargo.toml
Due: prettier --write

chore(release): 1.0.0-alpha.5 [skip ci]
  CHANGELOG.md
  Cargo.lock
  crates/frender-macros/Cargo.toml
  crates/react-html/Cargo.toml
  crates/react/Cargo.toml
  frender/Cargo.toml
Due: prettier --write

Notes added by 'git notes add'
  45c729550abc5298bc2f25f8e5690c334ed2a27a
Due: none

chore: update README.md [skip ci]
  README.md
Due: prettier --write

chore: update logo.svg [skip ci]
  logo.svg
Due: none

chore: publish pages in ci
  .github/workflows/pages.yml
  scripts/build-examples.js
Due: yarn run lint:fix, prettier --write

initialize gh-pages branch
  index.html
Due: prettier --write

chore(examples): output stdout and stderr if example failed to build
  scripts/build-examples.js
Due: yarn run lint:fix

chore(examples): install wasm-pack in ci
  .github/workflows/pages.yml
  scripts/build-examples.js
Due: yarn run lint:fix, prettier --write

chore(examples): setup rust wasm in ci
  .github/workflows/pages.yml
Due: prettier --write

chore(examples): publish to frender-rs/frender-rs.github.io
  .github/workflows/pages.yml
Due: prettier --write

chore(examples): cache cargo
  .github/workflows/pages.yml
Due: prettier --write

chore(examples): re-publish to gh-pages branch
  .github/workflows/pages.yml
  scripts/build-examples.js
Due: yarn run lint:fix, prettier --write

publish pages
  examples/counter/index-cfb9323d4f3a2cd0.js
  examples/counter/index-cfb9323d4f3a2cd0_bg.wasm
  examples/counter/index.html
  examples/counter/snippets/react-sys-a4a9285efecc927b/helpers/helpers.js
  examples/counter/snippets/react-sys-a4a9285efecc927b/helpers/use-state.js
  examples/index.html
  index.html
  logo.svg
Due: yarn run lint:fix, prettier --write

chore(release): cache for cargo
  .github/workflows/release.yml
Due: prettier --write

chore(examples): fix assets path
  scripts/build-examples.js
Due: yarn run lint:fix

Path conditions:
  yarn run lint:fix: any of: *.{js,ts}
  prettier --write: any of: *.{md,html,css,yml,yaml,json}
