Repository frender-rs/frender: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint:fix, prettier --write

chore: doc
  crates/frender-dom-tokens/src/lib.rs
Due: none

chore: remove unused code
  crates/frender-dom-tokens/src/dom_token.rs
Due: none

feat!: ChainableDomTokens
  Cargo.lock
  crates/frender-dom-tokens/src/chain.rs
  crates/frender-dom-tokens/src/either.rs
  crates/frender-dom-tokens/src/empty.rs
  crates/frender-dom-tokens/src/lib.rs
  crates/frender-dom-tokens/src/option.rs
  crates/frender-dom-tokens/src/string.rs
  crates/frender-dom-tokens/tests/empty.rs
  crates/frender-dom-tokens/tests/impl_dom_tokens.rs
  crates/frender-dom-tokens/tests/one.rs
  crates/frender-dom/src/csr/web.rs
  crates/frender-html-common/Cargo.toml
  crates/frender-html-common/src/dom_token.rs
  crates/frender-html-common/src/dom_token/advanced.rs
  crates/frender-html-common/src/lib.rs
  crates/frender-html-common/src/web.rs
  crates/frender-html/src/html.rs
  crates/frender-html/src/impl_bounds.rs
  crates/frender-html/src/lib.rs
Due: none

chore!: remove unused code
  crates/async-str-iter/src/array.rs
  crates/async-str-iter/src/lib.rs
  crates/async-str-iter/src/slice.rs
Due: none

chore: doc
  crates/async-str-iter/src/lib.rs
Due: none

fix: arbitrary if expr
  crates/frender-dom-tokens/src/lib.rs
Due: none

feat: dom_tokens! match
  crates/frender-dom-tokens/src/lib.rs
  crates/frender-dom-tokens/tests/one.rs
  crates/frender-dom-tokens/tests/utils/dom_token_list.rs
  crates/frender-dom-tokens/tests/utils/mod.rs
  crates/frender-dom-tokens/tests/utils/ssr.rs
Due: none

publish pages
  v2/examples/counter-no-proc-macro/counter-no-proc-macro-29a3d0c69ea01ea2.js
  v2/examples/counter-no-proc-macro/counter-no-proc-macro-29a3d0c69ea01ea2_bg.wasm
  v2/examples/counter-no-proc-macro/counter-no-proc-macro-6daac980f27999a1_bg.wasm
  v2/examples/counter-no-proc-macro/index.html
  v2/examples/counter/counter-ad4bd4a4b4f1b757.js
  v2/examples/counter/counter-ad4bd4a4b4f1b757_bg.wasm
  v2/examples/counter/counter-d311feeaa613b08e_bg.wasm
  v2/examples/counter/index.html
  v2/examples/html-elements/html-elements-85c4f9ebf5b21a8a_bg.wasm
  v2/examples/html-elements/html-elements-c5bebbb7a166b355.js
  v2/examples/html-elements/html-elements-c5bebbb7a166b355_bg.wasm
  v2/examples/html-elements/index.html
  v2/examples/keyed-elements/index.html
  v2/examples/keyed-elements/keyed-elements-638b1dd08cd08036.js
  v2/examples/keyed-elements/keyed-elements-638b1dd08cd08036_bg.wasm
  v2/examples/keyed-elements/keyed-elements-937eb7e44a7f9d3c_bg.wasm
  v2/examples/tic-tac-toe/index.html
  v2/examples/tic-tac-toe/tic-tac-toe-1c138e98fffdcf3c_bg.wasm
  v2/examples/tic-tac-toe/tic-tac-toe-4c808d4a65b1598b.js
  v2/examples/tic-tac-toe/tic-tac-toe-4c808d4a65b1598b_bg.wasm
Due: yarn run lint:fix, prettier --write

feat: export dom_tokens
  crates/frender-html-common/src/lib.rs
  crates/frender/src/lib.rs
Due: none

feat: impl_dom_tokens_for now allows one_expr_of_dom_tokens
  crates/frender-dom-tokens/src/lib.rs
Due: none

fix: dom_tokens expr as ty
  crates/frender-dom-tokens/src/lib.rs
  crates/frender-dom-tokens/tests/one.rs
Due: none

feat: impl ConstPossibleDomTokens for Empty
  crates/frender-dom-tokens/src/empty.rs
Due: none

fix: dom_tokens visibility
  crates/frender-dom-tokens/src/lib.rs
  crates/frender-dom-tokens/tests/vis.rs
Due: none

fix: dom_tokens empty
  crates/frender-dom-tokens/src/lib.rs
  crates/frender-dom-tokens/tests/empty.rs
Due: none

publish pages
  v2/examples/counter-no-proc-macro/counter-no-proc-macro-433762811e6fa3b4.js
  v2/examples/counter-no-proc-macro/counter-no-proc-macro-433762811e6fa3b4_bg.wasm
  v2/examples/counter-no-proc-macro/index.html
  v2/examples/html-elements/html-elements-beeaa25c4626b004.js
  v2/examples/html-elements/html-elements-beeaa25c4626b004_bg.wasm
  v2/examples/html-elements/index.html
  v2/examples/keyed-elements/index.html
  v2/examples/keyed-elements/keyed-elements-1a0da704b8659a32.js
  v2/examples/keyed-elements/keyed-elements-1a0da704b8659a32_bg.wasm
  v2/examples/tic-tac-toe/index.html
  v2/examples/tic-tac-toe/tic-tac-toe-a6d53c8e086fd380.js
  v2/examples/tic-tac-toe/tic-tac-toe-a6d53c8e086fd380_bg.wasm
Due: yarn run lint:fix, prettier --write

feat!: remove array syntax from `dom_tokens!` and now string literals can be space separated dom tokens
  crates/frender-dom-tokens/src/dom_token.rs
  crates/frender-dom-tokens/src/lib.rs
  crates/frender-dom-tokens/tests/constness.rs
  crates/frender-dom-tokens/tests/one.rs
  crates/frender-dom-tokens/tests/vis.rs
Due: none

feat: impl MaybeHandleEvent for HandleEventWithOptions
  crates/frender-common/src/event.rs
Due: none

feat!: spellcheck is enum attribute instead of boolean attribute
  crates/frender-html-common/src/content_editable.rs
  crates/frender-html-common/src/lib.rs
  crates/frender-html-common/src/spellcheck.rs
  crates/frender-html-common/src/value_kind.rs
  crates/frender-html/src/html.rs
  crates/frender-html/src/html/props_builders.rs
  crates/frender/src/empty.rs
  crates/frender/tests/attr_spellcheck.rs
Due: none

feat!: ElementWithAutoCorrectAttribute
  crates/frender-html/src/html.rs
  crates/frender-html/src/html/prelude_props_builders.rs
  crates/frender-html/src/html/props_builders.rs
Due: none

publish pages
  v2/examples/counter-no-proc-macro/counter-no-proc-macro-54120a6b06b7551d.js
  v2/examples/counter-no-proc-macro/counter-no-proc-macro-54120a6b06b7551d_bg.wasm
  v2/examples/counter-no-proc-macro/index.html
  v2/examples/counter/counter-78481f22adfd5f52.js
  v2/examples/counter/counter-78481f22adfd5f52_bg.wasm
  v2/examples/counter/index.html
  v2/examples/html-elements/html-elements-6be53c494112ee20.js
  v2/examples/html-elements/html-elements-6be53c494112ee20_bg.wasm
  v2/examples/html-elements/index.html
  v2/examples/keyed-elements/index.html
  v2/examples/keyed-elements/keyed-elements-c3a5ff3125fba202.js
  v2/examples/keyed-elements/keyed-elements-c3a5ff3125fba202_bg.wasm
  v2/examples/tic-tac-toe/index.html
  v2/examples/tic-tac-toe/tic-tac-toe-1e7409c240b63480.js
  v2/examples/tic-tac-toe/tic-tac-toe-1e7409c240b63480_bg.wasm
Due: yarn run lint:fix, prettier --write

chore!: remove unused code
  crates/frender-html-common/src/attr.rs
  crates/frender-html-common/src/intrinsic_component.rs
  crates/frender-html-common/src/lib.rs
Due: none

feat!: change SsrElementScriptContent and MaybeValue, add MaybeAttrValue
  crates/frender-dom/src/script.rs
  crates/frender-html-common/src/attr.rs
  crates/frender-html-common/src/maybe_str.rs
  crates/frender-html-common/src/maybe_value.rs
  crates/frender-html/src/impl_bounds.rs
  crates/frender-html/src/special/script.rs
Due: none

feat!: refactor a lot about IntoOneStringOrEmpty
  crates/frender-dom/src/special/inner_html.rs
  crates/frender-html-common/src/into_one_string_or_empty.rs
  crates/frender-html-common/src/lib.rs
  crates/frender-html-common/src/string_value.rs
  crates/frender-html/src/form_control/value.rs
  crates/frender-html/src/html.rs
  crates/frender-html/src/html/props_builders.rs
  crates/frender-html/src/lib.rs
  crates/frender-html/src/special/inner_html.rs
  crates/frender-html/src/special/style.rs
  crates/frender-html/src/special/textarea.rs
  crates/frender/src/hooks_ext.rs
Due: none

feat: impl AsRef<str> for Never
  crates/async-str-iter/src/never.rs
Due: none

feat: impl OneString and OneStringOrEmpty for Never
  crates/frender-ssr-html/src/assert.rs
Due: none

feat: MaybeStringValue
  crates/frender-html-common/src/lib.rs
  crates/frender-html-common/src/string_value.rs
Due: none

wip: input
  Cargo.lock
  crates/frender-dom/src/component/props.rs
  crates/frender-dom/src/event_listener.rs
  crates/frender-events/src/event.rs
  crates/frender-html/Cargo.toml
  crates/frender-html/js/input.js
  crates/frender-html/src/form_control.rs
  crates/frender-html/src/form_control/element.rs
  crates/frender-html/src/form_control/input.rs
  crates/frender-html/src/form_control/value.rs
  crates/frender-html/src/form_control/value/provide.rs
  crates/frender-html/src/html.rs
  crates/frender-html/src/html/props_builders.rs
  crates/frender-html/src/props_builder.rs
  crates/frender-html/src/special/input.rs
  crates/frender-html/src/special/mod.rs
  crates/frender-html/src/special/void_elements.rs
  crates/frender-ssr-html/src/assert.rs
  crates/frender/src/hooks_ext.rs
  examples/html-elements/src/main.rs
Due: yarn run lint:fix

feat: input
  crates/frender-csr/src/render_state/compound.rs
  crates/frender-csr/src/render_state/mod.rs
  crates/frender-html/src/form_control.rs
  crates/frender-html/src/form_control/input.rs
  crates/frender-html/src/form_control/value/provide.rs
  crates/frender-html/src/html.rs
  crates/frender-html/src/special/input.rs
  crates/frender/src/hooks_ext.rs
Due: none

example: input
  crates/frender-html/src/form_control/input.rs
  examples/html-elements/src/main.rs
Due: none

publish pages
  v2/examples/counter-no-proc-macro/counter-no-proc-macro-54120a6b06b7551d_bg.wasm
  v2/examples/counter-no-proc-macro/counter-no-proc-macro-e4d6fd2c05f50716.js
  v2/examples/counter-no-proc-macro/counter-no-proc-macro-e4d6fd2c05f50716_bg.wasm
  v2/examples/counter-no-proc-macro/index.html
  v2/examples/counter-no-proc-macro/snippets/frender-html-fa87f23522a1baeb/js/input.js
  v2/examples/counter/counter-3e6ccfbd39f5b0e3.js
  v2/examples/counter/counter-3e6ccfbd39f5b0e3_bg.wasm
  v2/examples/counter/counter-78481f22adfd5f52_bg.wasm
  v2/examples/counter/index.html
  v2/examples/counter/snippets/frender-html-fa87f23522a1baeb/js/input.js
  v2/examples/html-elements/html-elements-6be53c494112ee20_bg.wasm
  v2/examples/html-elements/html-elements-d24504228e31023.js
  v2/examples/html-elements/html-elements-d24504228e31023_bg.wasm
  v2/examples/html-elements/index.html
  v2/examples/html-elements/snippets/frender-html-fa87f23522a1baeb/js/input.js
  v2/examples/keyed-elements/index.html
  v2/examples/keyed-elements/keyed-elements-c3a5ff3125fba202_bg.wasm
  v2/examples/keyed-elements/keyed-elements-f86652d4cddfb503.js
  v2/examples/keyed-elements/keyed-elements-f86652d4cddfb503_bg.wasm
  v2/examples/keyed-elements/snippets/frender-html-fa87f23522a1baeb/js/input.js
  v2/examples/tic-tac-toe/index.html
  v2/examples/tic-tac-toe/snippets/frender-html-fa87f23522a1baeb/js/input.js
  v2/examples/tic-tac-toe/tic-tac-toe-1e7409c240b63480_bg.wasm
  v2/examples/tic-tac-toe/tic-tac-toe-da1737b2d26e16fb.js
  v2/examples/tic-tac-toe/tic-tac-toe-da1737b2d26e16fb_bg.wasm
Due: yarn run lint:fix, prettier --write

feat!: remove chrono from default features
  crates/frender-html/Cargo.toml
Due: none

refactor: move form_control to frender-dom
  crates/frender-dom/js/input.js
  crates/frender-dom/src/form_control.rs
  crates/frender-dom/src/form_control/element.rs
  crates/frender-dom/src/form_control/input.rs
  crates/frender-dom/src/form_control/value.rs
  crates/frender-dom/src/form_control/value/provide.rs
  crates/frender-dom/src/lib.rs
  crates/frender-html/src/form_control.rs
  crates/frender-html/src/form_control/element.rs
  crates/frender-html/src/lib.rs
Due: yarn run lint:fix

publish pages
  v2/examples/counter-no-proc-macro/counter-no-proc-macro-e4d6fd2c05f50716_bg.wasm
  v2/examples/counter-no-proc-macro/counter-no-proc-macro-ecc18f5b4f5a919c.js
  v2/examples/counter-no-proc-macro/counter-no-proc-macro-ecc18f5b4f5a919c_bg.wasm
  v2/examples/counter-no-proc-macro/index.html
  v2/examples/counter-no-proc-macro/snippets/frender-dom-9c2a5d6fd2b8fa85/js/input.js
  v2/examples/counter/counter-3e6ccfbd39f5b0e3_bg.wasm
  v2/examples/counter/counter-71494b97f839e158.js
  v2/examples/counter/counter-71494b97f839e158_bg.wasm
  v2/examples/counter/index.html
  v2/examples/counter/snippets/frender-dom-9c2a5d6fd2b8fa85/js/input.js
  v2/examples/html-elements/html-elements-152d9d1e13af4e8f.js
  v2/examples/html-elements/html-elements-152d9d1e13af4e8f_bg.wasm
  v2/examples/html-elements/html-elements-d24504228e31023_bg.wasm
  v2/examples/html-elements/index.html
  v2/examples/html-elements/snippets/frender-dom-9c2a5d6fd2b8fa85/js/input.js
  v2/examples/keyed-elements/index.html
  v2/examples/keyed-elements/keyed-elements-c6f2d10a5da2324d.js
  v2/examples/keyed-elements/keyed-elements-c6f2d10a5da2324d_bg.wasm
  v2/examples/keyed-elements/keyed-elements-f86652d4cddfb503_bg.wasm
  v2/examples/keyed-elements/snippets/frender-dom-9c2a5d6fd2b8fa85/js/input.js
  v2/examples/tic-tac-toe/index.html
  v2/examples/tic-tac-toe/snippets/frender-dom-9c2a5d6fd2b8fa85/js/input.js
  v2/examples/tic-tac-toe/tic-tac-toe-7ba19c80470ca436.js
  v2/examples/tic-tac-toe/tic-tac-toe-7ba19c80470ca436_bg.wasm
  v2/examples/tic-tac-toe/tic-tac-toe-da1737b2d26e16fb_bg.wasm
Due: yarn run lint:fix, prettier --write

feat!: Event::target_form_control_value_is_empty
  crates/frender-dom/src/event_listener.rs
  crates/frender-events/src/event.rs
Due: none

chore: remove render_into
  crates/frender-html/src/element.rs
  crates/frender-html/src/elements/option.rs
  crates/frender-html/src/elements/str.rs
  crates/frender-html/src/elements/tuple.rs
Due: none

fix: intrinsic element state poll_render
  crates/frender-html/src/elements/intrinsic.rs
Due: none

chore: better code
  crates/frender-csr/src/render_state/option.rs
Due: none

chore: better panic message
  crates/frender-csr-web/src/renderer.rs
Due: none

example: option
  examples/html-elements/src/main.rs
  examples/html-elements/src/option.rs
Due: none

publish pages
  v2/examples/counter-no-proc-macro/counter-no-proc-macro-7481f83c7067e1dc.js
  v2/examples/counter-no-proc-macro/counter-no-proc-macro-7481f83c7067e1dc_bg.wasm
  v2/examples/counter-no-proc-macro/counter-no-proc-macro-ecc18f5b4f5a919c_bg.wasm
  v2/examples/counter-no-proc-macro/index.html
  v2/examples/counter/counter-291ff5b021cc7cd4.js
  v2/examples/counter/counter-291ff5b021cc7cd4_bg.wasm
  v2/examples/counter/counter-71494b97f839e158_bg.wasm
  v2/examples/counter/index.html
  v2/examples/html-elements/html-elements-152d9d1e13af4e8f_bg.wasm
  v2/examples/html-elements/html-elements-e7993627d9ad4708.js
  v2/examples/html-elements/html-elements-e7993627d9ad4708_bg.wasm
  v2/examples/html-elements/index.html
  v2/examples/keyed-elements/index.html
  v2/examples/keyed-elements/keyed-elements-c6f2d10a5da2324d_bg.wasm
  v2/examples/keyed-elements/keyed-elements-f91fd662b542c914.js
  v2/examples/keyed-elements/keyed-elements-f91fd662b542c914_bg.wasm
  v2/examples/tic-tac-toe/index.html
  v2/examples/tic-tac-toe/tic-tac-toe-7ba19c80470ca436_bg.wasm
  v2/examples/tic-tac-toe/tic-tac-toe-c231f69547b9f5a2.js
  v2/examples/tic-tac-toe/tic-tac-toe-c231f69547b9f5a2_bg.wasm
Due: yarn run lint:fix, prettier --write

Path conditions:
  yarn run lint:fix: any of: *.{js,ts}
  prettier --write: any of: *.{md,html,css,yml,yaml,json}
