Repository frender-rs/frender: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint:fix, prettier --write

.lintstagedrc.yml:

"*.{js,ts}": "yarn run lint:fix"
"*.{md,html,css,yml,yaml,json}": "prettier --write"

feat: textarea value or children
  Cargo.lock
  Cargo.toml
  README.md
  crates/frender-dom/src/behaviors.rs
  crates/frender-dom/src/lib.rs
  crates/frender-dom/src/value.rs
  crates/frender-dom/src/value_updaters.rs
  crates/frender-events/Cargo.toml
  crates/frender-events/src/event.rs
  crates/frender-html-common/src/maybe_str.rs
  crates/frender-html/src/elements/option.rs
  crates/frender-html/src/elements/scalar.rs
  crates/frender-html/src/elements/tuple.rs
  crates/frender-html/src/html.rs
  crates/frender-html/src/macros.rs
  crates/frender-html/src/special/mod.rs
  crates/frender-html/src/special/textarea.rs
  examples/html-elements/Cargo.toml
  examples/html-elements/src/main.rs
  frender/src/hooks_ext.rs
  frender/src/lib.rs
Due: prettier --write

chore: update callable
  Cargo.lock
  Cargo.toml
  crates/frender-events/Cargo.toml
Due: none

publish pages
  v2/book/index.html
  v2/book/print.html
  v2/book/searchindex.js
  v2/book/searchindex.json
  v2/examples/counter-no-proc-macro/counter-no-proc-macro-14a877cbec79c9d4.js
  v2/examples/counter-no-proc-macro/counter-no-proc-macro-14a877cbec79c9d4_bg.wasm
  v2/examples/counter-no-proc-macro/counter-no-proc-macro-32aa3020ab4d019f.js
  v2/examples/counter-no-proc-macro/counter-no-proc-macro-32aa3020ab4d019f_bg.wasm
  v2/examples/counter-no-proc-macro/index.html
  v2/examples/counter/counter-bae477a5c5f92584.js
  v2/examples/counter/counter-bae477a5c5f92584_bg.wasm
  v2/examples/counter/counter-d38abe57aadb1450_bg.wasm
  v2/examples/counter/index.html
  v2/examples/html-elements/html-elements-6943ba97dd087636.js
  v2/examples/html-elements/html-elements-6943ba97dd087636_bg.wasm
  v2/examples/html-elements/html-elements-c177e1707705e07_bg.wasm
  v2/examples/html-elements/index.html
  v2/examples/keyed-elements/index.html
  v2/examples/keyed-elements/keyed-elements-1f1abfb3b91a7864.js
  v2/examples/keyed-elements/keyed-elements-1f1abfb3b91a7864_bg.wasm
  v2/examples/keyed-elements/keyed-elements-de36b9114911013a_bg.wasm
  v2/examples/tic-tac-toe/index.html
  v2/examples/tic-tac-toe/tic-tac-toe-3bfc9a14d118268a_bg.wasm
  v2/examples/tic-tac-toe/tic-tac-toe-51f3eb3a667fef6f.js
  v2/examples/tic-tac-toe/tic-tac-toe-51f3eb3a667fef6f_bg.wasm
Due: yarn run lint:fix, prettier --write

fix: textarea value one way binding
  crates/frender-dom/src/behaviors.rs
  crates/frender-dom/src/csr/web.rs
  crates/frender-dom/src/csr/web/event.rs
  crates/frender-html/src/special/textarea.rs
Due: none

fix: tuple of up to 12 elements are supported
  crates/frender-ssr/src/element/tuple.rs
Due: none

feat: intrinsic macro now supports more than 12 elements
  frender/src/element_macros.rs
Due: none

chore: update hooks to 3.0.0-alpha
  Cargo.lock
  examples/counter-no-proc-macro/Cargo.toml
  examples/counter/Cargo.toml
  examples/html-elements/Cargo.toml
  examples/keyed-elements/Cargo.toml
  examples/tic-tac-toe/Cargo.toml
  frender/Cargo.toml
Due: none

wip: `ShareValue::into_controlled` not updating because it's non-reactive
  Cargo.lock
  examples/html-elements/src/main.rs
  frender/Cargo.toml
  frender/src/hooks_ext.rs
Due: none

refactor: split RenderState and Element
  crates/frender-html/src/element.rs
  crates/frender-html/src/elements/array.rs
  crates/frender-html/src/elements/either.rs
  crates/frender-html/src/elements/mod.rs
  crates/frender-html/src/elements/option.rs
  crates/frender-html/src/elements/tuple.rs
  crates/frender-html/src/lib.rs
  crates/frender-html/src/render_state/array.rs
  crates/frender-html/src/render_state/either.rs
  crates/frender-html/src/render_state/mod.rs
  crates/frender-html/src/render_state/non_reactive.rs
  crates/frender-html/src/render_state/option.rs
  crates/frender-html/src/render_state/tuple.rs
Due: none

refactor: move RenderState to frender-csr
  Cargo.lock
  crates/frender-csr/Cargo.toml
  crates/frender-csr/src/lib.rs
  crates/frender-csr/src/render_state/array.rs
  crates/frender-csr/src/render_state/either.rs
  crates/frender-csr/src/render_state/mod.rs
  crates/frender-csr/src/render_state/non_reactive.rs
  crates/frender-csr/src/render_state/option.rs
  crates/frender-csr/src/render_state/tuple.rs
  crates/frender-csr/src/render_state_trait.rs
  crates/frender-dom/Cargo.toml
  crates/frender-dom/src/lib.rs
  crates/frender-html/src/lib.rs
  crates/frender-html/src/render_state/mod.rs
Due: none

refactor: EitherRenderState
  crates/frender-csr/src/render_state/either.rs
  crates/frender-html/src/elements/either.rs
Due: none

wip: form control
  Cargo.lock
  crates/async-str-iter/src/borrow_str.rs
  crates/async-str-iter/src/lib.rs
  crates/frender-dom/src/behaviors.rs
  crates/frender-dom/src/csr/web.rs
  crates/frender-dom/src/lib.rs
  crates/frender-dom/src/value.rs
  crates/frender-dom/src/value_updaters.rs
  crates/frender-html-common/src/maybe_str.rs
  crates/frender-html/src/form_control.rs
  crates/frender-html/src/form_control/element.rs
  crates/frender-html/src/form_control/value.rs
  crates/frender-html/src/html.rs
  crates/frender-html/src/lib.rs
  crates/frender-html/src/macros.rs
  crates/frender-html/src/special/textarea.rs
  crates/frender-ssr-html/src/assert.rs
  examples/counter-no-proc-macro/Cargo.toml
  examples/counter/Cargo.toml
  examples/html-elements/Cargo.toml
  examples/html-elements/src/main.rs
  examples/keyed-elements/Cargo.toml
  examples/tic-tac-toe/Cargo.toml
  frender/Cargo.toml
  frender/src/hooks_ext.rs
  frender/src/lib.rs
Due: none

publish pages
  v2/examples/counter-no-proc-macro/counter-no-proc-macro-32aa3020ab4d019f_bg.wasm
  v2/examples/counter-no-proc-macro/counter-no-proc-macro-cb7b03db2cf99ada.js
  v2/examples/counter-no-proc-macro/counter-no-proc-macro-cb7b03db2cf99ada_bg.wasm
  v2/examples/counter-no-proc-macro/index.html
  v2/examples/counter/counter-bae477a5c5f92584_bg.wasm
  v2/examples/counter/counter-ecd3b2510d97a3f2.js
  v2/examples/counter/counter-ecd3b2510d97a3f2_bg.wasm
  v2/examples/counter/index.html
  v2/examples/html-elements/html-elements-6943ba97dd087636_bg.wasm
  v2/examples/html-elements/html-elements-b44a3456f1a9d2d6.js
  v2/examples/html-elements/html-elements-b44a3456f1a9d2d6_bg.wasm
  v2/examples/html-elements/index.html
  v2/examples/keyed-elements/index.html
  v2/examples/keyed-elements/keyed-elements-1f1abfb3b91a7864_bg.wasm
  v2/examples/keyed-elements/keyed-elements-7e3a0aa68498abe4.js
  v2/examples/keyed-elements/keyed-elements-7e3a0aa68498abe4_bg.wasm
  v2/examples/tic-tac-toe/index.html
  v2/examples/tic-tac-toe/tic-tac-toe-51f3eb3a667fef6f_bg.wasm
  v2/examples/tic-tac-toe/tic-tac-toe-eab83ea4b17c6d9c.js
  v2/examples/tic-tac-toe/tic-tac-toe-eab83ea4b17c6d9c_bg.wasm
Due: yarn run lint:fix, prettier --write

feat!: now RenderState is generic over ParentElementsHandle
  crates/frender-csr-web/src/renderer.rs
  crates/frender-csr/src/render_state/array.rs
  crates/frender-csr/src/render_state/either.rs
  crates/frender-csr/src/render_state/non_reactive.rs
  crates/frender-csr/src/render_state/option.rs
  crates/frender-csr/src/render_state/tuple.rs
  crates/frender-csr/src/render_state_trait.rs
  crates/frender-element/src/lib.rs
  crates/frender-element/src/render_element.rs
  crates/frender-hook-element/src/html/mod.rs
  crates/frender-html/src/create_node.rs
  crates/frender-html/src/element.rs
  crates/frender-html/src/element_types.rs
  crates/frender-html/src/elements/array.rs
  crates/frender-html/src/elements/boxed.rs
  crates/frender-html/src/elements/either.rs
  crates/frender-html/src/elements/intrinsic.rs
  crates/frender-html/src/elements/keyed.rs
  crates/frender-html/src/elements/option.rs
  crates/frender-html/src/elements/scalar.rs
  crates/frender-html/src/elements/str.rs
  crates/frender-html/src/elements/tuple.rs
  crates/frender-html/src/form_control/value.rs
  crates/frender-html/src/impl_bounds.rs
  crates/frender-html/src/macros.rs
  crates/frender-html/src/special/mod.rs
  crates/frender-html/src/special/script.rs
  crates/frender-html/src/special/style.rs
  crates/frender-html/src/special/textarea.rs
  crates/frender-html/src/special/void_elements.rs
  crates/frender-html/src/update_element.rs
  frender/src/hooks_ext.rs
Due: none

wip
  crates/frender-dom/src/csr/web.rs
  crates/frender-html/src/macros.rs
Due: none

wip
  crates/frender-html/src/form_control/value.rs
  frender/src/hooks_ext.rs
Due: none

publish pages
  v2/examples/counter-no-proc-macro/counter-no-proc-macro-cb7b03db2cf99ada_bg.wasm
  v2/examples/counter-no-proc-macro/counter-no-proc-macro-eca64892959a46d.js
  v2/examples/counter-no-proc-macro/counter-no-proc-macro-eca64892959a46d_bg.wasm
  v2/examples/counter-no-proc-macro/index.html
  v2/examples/counter/counter-ba9c200cbd148a8.js
  v2/examples/counter/counter-ba9c200cbd148a8_bg.wasm
  v2/examples/counter/counter-ecd3b2510d97a3f2_bg.wasm
  v2/examples/counter/index.html
  v2/examples/html-elements/html-elements-1bbcec64d507cf7c.js
  v2/examples/html-elements/html-elements-1bbcec64d507cf7c_bg.wasm
  v2/examples/html-elements/html-elements-b44a3456f1a9d2d6_bg.wasm
  v2/examples/html-elements/index.html
  v2/examples/keyed-elements/index.html
  v2/examples/keyed-elements/keyed-elements-7e3a0aa68498abe4_bg.wasm
  v2/examples/keyed-elements/keyed-elements-c05ce1e3582cf76b.js
  v2/examples/keyed-elements/keyed-elements-c05ce1e3582cf76b_bg.wasm
  v2/examples/tic-tac-toe/index.html
  v2/examples/tic-tac-toe/tic-tac-toe-848f00820ae55d35.js
  v2/examples/tic-tac-toe/tic-tac-toe-848f00820ae55d35_bg.wasm
  v2/examples/tic-tac-toe/tic-tac-toe-eab83ea4b17c6d9c_bg.wasm
Due: yarn run lint:fix, prettier --write

wip: refactor
  crates/frender-dom/Cargo.toml
  crates/frender-dom/src/attr.rs
  crates/frender-dom/src/lib.rs
  crates/frender-html/src/html.rs
  crates/frender-html/src/impl_bounds.rs
  crates/frender-html/src/macros.rs
Due: none

feat: now `rsx!` doesn't rely on `intrinsic!` and `element!`
  crates/frender-macros/src/lib.rs
  crates/frender-macros/src/rsx_data.rs
  crates/frender-macros/src/rsx_to_tokens.rs
Due: none

feat: allow more than 12 elements in `rsx!`
  crates/frender-macros/src/rsx_to_tokens.rs
Due: none

feat: allow more than 12 elements in `element!`
  frender/src/element_macros.rs
Due: none

feat!: rewrite into_render_element
  crates/frender-csr-web/src/mount.rs
  crates/frender-csr-web/src/renderer.rs
  crates/frender-element/src/lib.rs
  crates/frender-element/src/render_element.rs
Due: none

wip: refactor
  Cargo.lock
  crates/frender-csr-ext/Cargo.toml
  crates/frender-csr-ext/src/lib.rs
  crates/frender-csr-ext/src/render_element.rs
  crates/frender-csr-web/Cargo.toml
  crates/frender-csr-web/src/mount.rs
  crates/frender-dom-macros/Cargo.toml
  crates/frender-dom-macros/src/lib.rs
  crates/frender-element/Cargo.toml
  crates/frender-hook-element/Cargo.toml
  crates/frender-hook-element/src/html/mod.rs
  crates/frender-hook-element/src/lib.rs
  crates/frender-html/Cargo.toml
  frender/Cargo.toml
  frender/src/lib.rs
Due: none

wip: refactor
  crates/frender-hook-element/src/lib.rs
Due: none

wip: refactor
  crates/frender-hook-element/src/lib.rs
  examples/counter-no-proc-macro/src/main.rs
  examples/ssr-to-string/src/main.rs
Due: none

feat: SsrElementExt
  crates/async-str-iter/src/ext.rs
  crates/async-str-iter/src/ext/collect.rs
  crates/async-str-iter/src/lib.rs
  crates/frender-ssr/src/ssr_ext.rs
  examples/ssr-to-string/src/main.rs
  frender/src/lib.rs
  frender/tests/script.rs
Due: none

publish pages
  v2/examples/counter-no-proc-macro/counter-no-proc-macro-28c5d53c8c384733.js
  v2/examples/counter-no-proc-macro/counter-no-proc-macro-28c5d53c8c384733_bg.wasm
  v2/examples/counter-no-proc-macro/counter-no-proc-macro-eca64892959a46d_bg.wasm
  v2/examples/counter-no-proc-macro/index.html
  v2/examples/counter/counter-546392c1671ef064.js
  v2/examples/counter/counter-546392c1671ef064_bg.wasm
  v2/examples/counter/counter-ba9c200cbd148a8_bg.wasm
  v2/examples/counter/index.html
  v2/examples/html-elements/html-elements-120a945af642b8df.js
  v2/examples/html-elements/html-elements-120a945af642b8df_bg.wasm
  v2/examples/html-elements/html-elements-1bbcec64d507cf7c_bg.wasm
  v2/examples/html-elements/index.html
  v2/examples/keyed-elements/index.html
  v2/examples/keyed-elements/keyed-elements-8beae4d4b543a084.js
  v2/examples/keyed-elements/keyed-elements-8beae4d4b543a084_bg.wasm
  v2/examples/keyed-elements/keyed-elements-c05ce1e3582cf76b_bg.wasm
  v2/examples/tic-tac-toe/index.html
  v2/examples/tic-tac-toe/tic-tac-toe-848f00820ae55d35_bg.wasm
  v2/examples/tic-tac-toe/tic-tac-toe-9518265f8a23be45.js
  v2/examples/tic-tac-toe/tic-tac-toe-9518265f8a23be45_bg.wasm
Due: yarn run lint:fix, prettier --write

chore: remove js related files
  .browserslistrc
  .eslintignore
  .eslintrc.js
  .husky/pre-commit
  .lintstagedrc.yml
  .prettierignore
  .prettierrc.yml
  .vscode/extensions.json
  .vscode/settings.json
  .yarn/releases/yarn-berry.js
  .yarn/sdks/eslint/bin/eslint.js
  .yarn/sdks/eslint/lib/api.js
  .yarn/sdks/eslint/package.json
  .yarn/sdks/integrations.yml
  .yarn/sdks/prettier/index.js
  .yarn/sdks/prettier/package.json
  .yarn/sdks/typescript/bin/tsc
  .yarn/sdks/typescript/bin/tsserver
  .yarn/sdks/typescript/lib/tsc.js
  .yarn/sdks/typescript/lib/tsserver.js
  .yarn/sdks/typescript/lib/tsserverlibrary.js
  .yarn/sdks/typescript/lib/typescript.js
  .yarn/sdks/typescript/package.json
  .yarnrc.yml
  babel.config.js
  jest.config.js
  package.json
  tsconfig.json
  yarn.lock
Due: yarn run lint:fix, prettier --write

chore: remove unused code
  crates/async-str-iter/Cargo.toml
  crates/frender-common/src/elements/str.rs
  crates/frender-common/src/keyed.rs
Due: none

chore: specify workspace resolver version to 2
  Cargo.toml
Due: none

chore: remove convert-js
  Cargo.lock
  crates/frender-dom/Cargo.toml
  crates/frender-html/Cargo.toml
Due: none

feat!: upgrade futures-lite and async-io
  Cargo.lock
  crates/frender-csr-ext/Cargo.toml
  crates/frender-csr-ext/src/render_element.rs
  crates/frender-csr-web/Cargo.toml
  crates/frender-csr-wry/Cargo.toml
  crates/frender-dom/Cargo.toml
  crates/frender-html/Cargo.toml
  examples/ssr-to-string/Cargo.toml
Due: none

chore: remove ghost-lite
  Cargo.lock
  crates/frender-dom/Cargo.toml
Due: none

feat!: remove bg
  Cargo.lock
  examples/counter/Cargo.toml
  examples/counter/src/my_counter.rs
  examples/counter/src/my_timer.rs
Due: none

publish pages
  v2/examples/counter-no-proc-macro/counter-no-proc-macro-28c5d53c8c384733_bg.wasm
  v2/examples/counter-no-proc-macro/counter-no-proc-macro-2c1e9b750e8afc36.js
  v2/examples/counter-no-proc-macro/counter-no-proc-macro-2c1e9b750e8afc36_bg.wasm
  v2/examples/counter-no-proc-macro/index.html
  v2/examples/counter/counter-546392c1671ef064_bg.wasm
  v2/examples/counter/counter-b5fb57a0d6cc7440.js
  v2/examples/counter/counter-b5fb57a0d6cc7440_bg.wasm
  v2/examples/counter/index.html
  v2/examples/html-elements/html-elements-120a945af642b8df_bg.wasm
  v2/examples/html-elements/html-elements-542579cc51c3a12a.js
  v2/examples/html-elements/html-elements-542579cc51c3a12a_bg.wasm
  v2/examples/html-elements/index.html
  v2/examples/keyed-elements/index.html
  v2/examples/keyed-elements/keyed-elements-8beae4d4b543a084_bg.wasm
  v2/examples/keyed-elements/keyed-elements-b29b640e12c6d6a7.js
  v2/examples/keyed-elements/keyed-elements-b29b640e12c6d6a7_bg.wasm
  v2/examples/tic-tac-toe/index.html
  v2/examples/tic-tac-toe/tic-tac-toe-66ba5b72564e7ad7.js
  v2/examples/tic-tac-toe/tic-tac-toe-66ba5b72564e7ad7_bg.wasm
  v2/examples/tic-tac-toe/tic-tac-toe-9518265f8a23be45_bg.wasm
Due: yarn run lint:fix, prettier --write

feat!: props builder
  crates/frender-html/src/create_node.rs
  crates/frender-html/src/elements/intrinsic.rs
  crates/frender-html/src/html.rs
  crates/frender-html/src/impl_bounds.rs
  crates/frender-html/src/lib.rs
  crates/frender-html/src/macros.rs
  crates/frender-html/src/props_builder.rs
  crates/frender-html/src/special/textarea.rs
  crates/frender-html/src/update_element.rs
Due: none

publish pages
  v2/examples/counter-no-proc-macro/counter-no-proc-macro-2c1e9b750e8afc36_bg.wasm
  v2/examples/counter-no-proc-macro/counter-no-proc-macro-ef9befd96691bb72.js
  v2/examples/counter-no-proc-macro/counter-no-proc-macro-ef9befd96691bb72_bg.wasm
  v2/examples/counter-no-proc-macro/index.html
  v2/examples/counter/counter-73f5183490434af3.js
  v2/examples/counter/counter-73f5183490434af3_bg.wasm
  v2/examples/counter/counter-b5fb57a0d6cc7440_bg.wasm
  v2/examples/counter/index.html
  v2/examples/html-elements/html-elements-35cde166d25c672e.js
  v2/examples/html-elements/html-elements-35cde166d25c672e_bg.wasm
  v2/examples/html-elements/html-elements-542579cc51c3a12a_bg.wasm
  v2/examples/html-elements/index.html
  v2/examples/keyed-elements/index.html
  v2/examples/keyed-elements/keyed-elements-b19ff80c0582623a.js
  v2/examples/keyed-elements/keyed-elements-b19ff80c0582623a_bg.wasm
  v2/examples/keyed-elements/keyed-elements-b29b640e12c6d6a7_bg.wasm
  v2/examples/tic-tac-toe/index.html
  v2/examples/tic-tac-toe/tic-tac-toe-66ba5b72564e7ad7_bg.wasm
  v2/examples/tic-tac-toe/tic-tac-toe-938209249c7819b3.js
  v2/examples/tic-tac-toe/tic-tac-toe-938209249c7819b3_bg.wasm
Due: yarn run lint:fix, prettier --write

feat!: children builder fn bounds
  crates/frender-html/src/html.rs
  crates/frender-html/src/html/props_builders/mod.rs
  crates/frender-html/src/macros.rs
Due: none
