Repository frender-rs/frender: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint:fix, prettier --write

.lintstagedrc.yml:

"*.{js,ts}": "yarn run lint:fix"
"*.{md,html,css,yml,yaml,json}": "prettier --write"

chore: setup yarn@berry
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
  .yarn/releases/yarn-berry.js
  .yarn/sdks/eslint/bin/eslint.js
  .yarn/sdks/eslint/lib/api.js
  .yarn/sdks/eslint/package.json
  .yarn/sdks/integrations.yml
  .yarn/sdks/prettier/index.js
  .yarn/sdks/prettier/package.json
  .yarn/sdks/typescript/bin/tsc
  .yarn/sdks/typescript/bin/tsserver
  .yarn/sdks/typescript/lib/tsc.js
  .yarn/sdks/typescript/lib/tsserver.js
  .yarn/sdks/typescript/lib/tsserverlibrary.js
  .yarn/sdks/typescript/lib/typescript.js
  .yarn/sdks/typescript/package.json
  .yarnrc.yml
  package.json
  yarn.lock
Due: yarn run lint:fix, prettier --write

chore: setup root project
  .editorconfig
  .prettierignore
  Cargo.lock
  Cargo.toml
  src/bye/index.ts
  src/hi.ts
  src/index.spec.ts
  src/index.ts
  src/util/format.ts
Due: yarn run lint:fix

chore: setup semantic-release
  .github/workflows/release.yml
  .lintstagedrc.yml
  release.config.js
  rollup.config.js
Due: yarn run lint:fix, prettier --write

chore: init frender crate [skip ci]
  Cargo.lock
  README.md
  frender/.gitignore
  frender/Cargo.toml
  frender/LICENSE_APACHE
  frender/LICENSE_MIT
  frender/README.md
  frender/src/lib.rs
  frender/tests/web.rs
Due: prettier --write

chore: add logo [skip ci]
  README.md
  frender/logo.svg
Due: prettier --write

wip: [skip ci]
  Cargo.lock
  Cargo.toml
  cspell.config.yaml
  examples/counter/.gitignore
  examples/counter/Cargo.toml
  examples/counter/README.md
  examples/counter/index.html
  examples/counter/src/counter_comp.rs
  examples/counter/src/lib.rs
  examples/counter/src/main.rs
  examples/counter/src/utils.rs
  examples/counter/tests/web.rs
  frender/Cargo.toml
  frender/src/lib.rs
  frender/src/react/mod.rs
  frender/src/react/take_rc.rs
  frender/src/react/use_closure.rs
  frender/src/react/use_effect.rs
  frender/src/react/use_memo.rs
  frender/src/react/use_ref.rs
  frender/src/react/use_state.rs
  frender/src/react/utils.rs
Due: prettier --write

wip: [skip ci]
  Cargo.lock
  examples/counter/src/counter_comp.rs
  frender/Cargo.toml
  frender/src/react/use_effect.rs
  frender/src/react/use_memo.rs
Due: none

wip
  .gitignore
  examples/counter/index.html
  examples/counter/src/lib.rs
  examples/counter/src/timer_comp.rs
  frender/src/react/mod.rs
  frender/src/react/use_closure.rs
  frender/src/react/use_state.rs
  package.json
  yarn.lock
Due: prettier --write

refactor: move react into crate react-rs
  Cargo.toml
  crates/react/Cargo.toml
  crates/react/src/lib.rs
  crates/react/src/take_rc.rs
  crates/react/src/use_effect.rs
  crates/react/src/use_memo.rs
  crates/react/src/use_ref.rs
  crates/react/src/use_state.rs
  crates/react/src/utils.rs
  frender/Cargo.toml
  frender/src/lib.rs
Due: none

feat(react): Node and Nodes
  crates/react/Cargo.toml
  crates/react/src/lib.rs
  crates/react/src/node/any.rs
  crates/react/src/node/mod.rs
  crates/react/src/node/node.rs
  crates/react/src/nodes/mod.rs
  crates/react/src/nodes/nodes.rs
  crates/react/src/use_effect.rs
  crates/react/tests/nodes.rs
Due: none

wip: [skip ci]
  Cargo.lock
  crates/frender-macros/Cargo.toml
  crates/frender-macros/src/lib.rs
  crates/react/src/component/component.rs
  crates/react/src/component/mod.rs
  crates/react/src/element/element.rs
  crates/react/src/element/html.rs
  crates/react/src/element/intrinsic.rs
  crates/react/src/element/mod.rs
  crates/react/src/element/svg.rs
  crates/react/src/html/aria.rs
  crates/react/src/html/attrs.rs
  crates/react/src/html/css.rs
  crates/react/src/html/dom.rs
  crates/react/src/html/mod.rs
  crates/react/src/lib.rs
  crates/react/src/node/any.rs
  crates/react/src/node/node.rs
  crates/react/src/nodes/mod.rs
  crates/react/src/nodes/nodes.rs
  cspell.config.yaml
  examples/README.md
  examples/counter/src/counter_comp.rs
  examples/counter/src/lib.rs
  examples/counter/src/main.rs
  examples/counter/src/timer_comp.rs
  frender/src/lib.rs
Due: prettier --write

chore: wip [skip ci]
  Cargo.lock
  crates/frender-macros/src/lib.rs
  crates/react/Cargo.toml
  crates/react/src/component.rs
  crates/react/src/component/component.rs
  crates/react/src/component/mod.rs
  crates/react/src/element/element.rs
  crates/react/src/element/intrinsic.rs
  crates/react/src/element/mod.rs
  crates/react/src/html/any_attrs.rs
  crates/react/src/html/aria.rs
  crates/react/src/html/as_attr.rs
  crates/react/src/html/attrs.rs
  crates/react/src/html/attrs/a.rs
  crates/react/src/html/attrs/html.rs
  crates/react/src/html/attrs/mod.rs
  crates/react/src/html/common.rs
  crates/react/src/html/css.rs
  crates/react/src/html/data_types.rs
  crates/react/src/html/mod.rs
  crates/react/src/node/any.rs
Due: none

chore: wip [skip ci]
  Cargo.lock
  Cargo.toml
  crates/frender-macros/Cargo.toml
  crates/frender-macros/src/case.rs
  crates/frender-macros/src/lib.rs
  crates/react/Cargo.toml
  crates/react/src/closure.rs
  crates/react/src/component.rs
  crates/react/src/element/element.rs
  crates/react/src/element/intrinsic.rs
  crates/react/src/html/attrs/a.rs
  crates/react/src/html/attrs/mod.rs
  crates/react/src/html/common.rs
  crates/react/src/html/data_types.rs
  crates/react/src/js_adapter.rs
  crates/react/src/js_props_bridge.rs
  crates/react/src/js_runtime.rs
  crates/react/src/key.rs
  crates/react/src/lib.rs
  crates/react/src/node/children.rs
  crates/react/src/node/mod.rs
  crates/react/src/node/node.rs
  crates/react/src/simple_take.rs
  crates/react/src/take_rc.rs
  crates/react/src/use_ref.rs
  crates/react/src/use_ref/mod.rs
  crates/react/src/use_ref/traits.rs
  crates/react/src/use_ref/use_ref.rs
  crates/react/src/use_ref/use_ref_js.rs
  crates/react/src/use_ref_cell.rs
  crates/react/tests/nodes.rs
Due: none

chore: release
  .github/workflows/release.yml
  release.config.js
  scripts/ensure-crate.js
Due: yarn run lint:fix, prettier --write

chore: re release
  .github/workflows/release.yml
Due: prettier --write

chore: lint
  scripts/ensure-crate.js
Due: yarn run lint:fix

chore: retry release
  crates/frender-macros/Cargo.toml
Due: none

chore(release): 1.0.0-alpha.1 [skip ci]
  CHANGELOG.md
  Cargo.lock
  crates/frender-macros/Cargo.toml
  crates/react/Cargo.toml
  frender/Cargo.toml
Due: prettier --write

Notes added by 'git notes add'
  56b3b1541673a3e9a31e4595fcccd7f11356b094
Due: none

feat: add package metadata
  crates/frender-macros/Cargo.toml
  crates/react/Cargo.toml
  frender/Cargo.toml
Due: none

chore(release): 1.0.0-alpha.2 [skip ci]
  CHANGELOG.md
  Cargo.lock
  crates/frender-macros/Cargo.toml
  crates/react/Cargo.toml
  frender/Cargo.toml
Due: prettier --write

Notes added by 'git notes add'
  bb093a69da3903e76695fce657a112afd86a33bf
Due: none

fix: use_memo fails because React.useRef doesn't accept function as initializer
  crates/react/src/use_memo.rs
Due: none

wip
  Cargo.lock
  Cargo.toml
  crates/frender-macros/src/lib.rs
  crates/frender-macros/src/props.rs
  crates/react/Cargo.toml
  crates/react/src/__private/macros.rs
  crates/react/src/__private/mod.rs
  crates/react/src/component.rs
  crates/react/src/html/as_attr.rs
  crates/react/src/html/attrs/a.rs
  crates/react/src/html/attrs/mod.rs
  crates/react/src/html/common.rs
  crates/react/src/html/mod.rs
  crates/react/src/html/tag.rs
  crates/react/src/js_adapter.rs
  crates/react/src/js_props_bridge.rs
  crates/react/src/node/node.rs
  crates/react/src/use_ref/use_ref.rs
  crates/react/src/use_ref/use_ref_js.rs
  crates/react/src/use_ref_cell.rs
  examples/README.md
  examples/counter/Cargo.toml
  examples/counter/index.html
  examples/counter/src/lib.rs
  examples/counter/src/main.rs
  frender/src/into_prop_value.rs
  frender/src/intrinsic.rs
  frender/src/lib.rs
  frender/src/props_macros.rs
Due: prettier --write

chore(release): 1.0.0-alpha.3 [skip ci]
  CHANGELOG.md
  Cargo.lock
  crates/frender-macros/Cargo.toml
  crates/react/Cargo.toml
  frender/Cargo.toml
Due: prettier --write

Notes added by 'git notes add'
  1bbfac3835edb1603040f84d201a60ed25d87423
Due: none

feat: rsx macro
  Cargo.lock
  README.md
  crates/frender-macros/src/lib.rs
  crates/frender-macros/src/rsx_data.rs
  crates/frender-macros/src/rsx_to_tokens.rs
  crates/react/src/component.rs
  crates/react/src/element/intrinsic.rs
  crates/react/src/html/attrs/a.rs
  crates/react/src/html/common.rs
  crates/react/src/js_props_bridge.rs
  crates/react/src/key.rs
  crates/react/src/lib.rs
  crates/react/src/node/any.rs
  crates/react/src/node/children.rs
  crates/react/src/node/node.rs
  examples/counter/src/main.rs
  frender/Cargo.toml
  frender/src/intrinsic_components.rs
  frender/src/lib.rs
  frender/src/props_macros.rs
Due: prettier --write

wip
  backup/__private/mod.rs
  backup/__private/rsx/children.rs
  backup/__private/rsx/element_building.rs
  backup/__private/rsx/fluent/expect_nodes.rs
  backup/__private/rsx/fluent/expect_single_node.rs
  backup/__private/rsx/fluent/mod.rs
  backup/__private/rsx/mod.rs
  backup/__private/rsx/traits.rs
  backup/assert_ident_match.rs
  backup/intrinsic.rs
  backup/macros.rs
  backup/props_macros.rs
Due: none

wip: react children
  crates/react/src/fragment.rs
  crates/react/src/html/common.rs
  crates/react/src/js_adapter.rs
  crates/react/src/lib.rs
  crates/react/src/node/any.rs
  crates/react/src/node/children.rs
  crates/react/src/node/node.rs
Due: none

feat: Fragment and StrictMode
  Cargo.lock
  crates/react/Cargo.toml
  crates/react/src/common_props/mod.rs
  crates/react/src/common_props/optional_children.rs
  crates/react/src/create_element_js.rs
  crates/react/src/js_props_bridge.rs
  crates/react/src/lib.rs
  crates/react/src/node/children.rs
  crates/react/src/node/node.rs
  crates/react/src/strict_mode.rs
  frender/src/lib.rs
Due: none

wip: refactoring
  crates/react/src/js_adapter.rs
Due: none

feat: macro def_props
  Cargo.lock
  crates/frender-macros/Cargo.toml
  crates/frender-macros/src/component_data.rs
  crates/frender-macros/src/component_to_tokens.rs
  crates/frender-macros/src/err.rs
  crates/frender-macros/src/lib.rs
  crates/frender-macros/src/props.rs
  crates/frender-macros/src/props_data.rs
  crates/frender-macros/src/props_to_tokens.rs
  crates/react/src/__private/mod.rs
  crates/react/src/__private/required_prop.rs
  crates/react/src/component.rs
  crates/react/src/lib.rs
  frender/src/lib.rs
Due: none

feat: attribute macro component
  crates/frender-macros/src/component_data.rs
  crates/frender-macros/src/component_to_tokens.rs
  crates/frender-macros/src/lib.rs
  crates/frender-macros/src/props_data.rs
  crates/frender-macros/src/props_to_tokens.rs
  crates/react/src/__private/mod.rs
  crates/react/src/component.rs
  crates/react/src/create_element_js.rs
  crates/react/src/fragment.rs
  crates/react/src/html/common.rs
  crates/react/src/js_adapter.rs
  crates/react/src/js_props_bridge.rs
  crates/react/src/strict_mode.rs
  frender/src/debug.rs
  frender/src/lib.rs
Due: none

feat: auto debug props
  crates/frender-macros/src/component_to_tokens.rs
  crates/frender-macros/src/props_data.rs
  crates/frender-macros/src/props_to_tokens.rs
  frender/src/debug.rs
  frender/tests/auto_debug.rs
Due: none

fix: rsx prop without value should be interpreted as `IntoPropValue::into_prop_value(true)` instead of `true`
  crates/frender-macros/src/rsx_to_tokens.rs
Due: none

fix: component macro not works with props
  crates/frender-macros/src/component_data.rs
  crates/frender-macros/src/component_to_tokens.rs
Due: none

chore(docs): guide
  README.md
Due: prettier --write

feat: hooks
  Cargo.lock
  crates/frender-macros/src/component_to_tokens.rs
  crates/frender-macros/src/custom_element/data.rs
  crates/frender-macros/src/lib.rs
  crates/frender-macros/src/props_data.rs
  crates/frender-macros/src/props_to_tokens.rs
  crates/frender-macros/src/rsx_data.rs
  crates/frender-macros/src/rsx_to_tokens.rs
  crates/react/Cargo.toml
  crates/react/src/__private/auto_wrap_rc.rs
  crates/react/src/__private/macros.rs
  crates/react/src/__private/mod.rs
  crates/react/src/component.rs
  crates/react/src/element/element.rs
  crates/react/src/lib.rs
  crates/react/src/node/node.rs
  crates/react/src/render_into_dom.rs
  crates/react/src/use_effect.rs
  crates/react/src/use_memo.rs
  crates/react/src/use_ref/into_ref_value.rs
  crates/react/src/use_ref/mod.rs
  crates/react/src/use_ref/simple_into.rs
  crates/react/src/use_ref/use_ref.rs
  crates/react/src/use_ref/use_ref_cell.rs
  crates/react/src/use_ref/use_ref_js.rs
  crates/react/src/use_ref/use_ref_readonly.rs
  crates/react/src/use_ref_cell.rs
  crates/react/src/use_state.rs
  crates/react/src/utils.rs
Due: none
