Repository frender-rs/frender: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint:fix, prettier --write

chore: add todo for Keyed
  crates/frender-core/src/elements/keyed.rs
Due: none

chore: refactor intrinsic components
  crates/frender-html/src/element_macros.rs
Due: none

chore: remove RenderWithElement
  crates/frender-core/src/lib.rs
  crates/frender-core/src/render_with_element.rs
Due: none

feat: ssr for primitives
  Cargo.lock
  crates/frender-ssr/Cargo.toml
  crates/frender-ssr/src/bytes/cow_sliced.rs
  crates/frender-ssr/src/bytes/into.rs
  crates/frender-ssr/src/bytes/mod.rs
  crates/frender-ssr/src/bytes/sliced.rs
  crates/frender-ssr/src/bytes/write.rs
  crates/frender-ssr/src/context.rs
  crates/frender-ssr/src/element/bytes.rs
  crates/frender-ssr/src/element/mod.rs
  crates/frender-ssr/src/element/scalar.rs
  crates/frender-ssr/src/element/str.rs
  crates/frender-ssr/src/lib.rs
  crates/frender-ssr/src/truncate_start_at.rs
Due: none

chore: add .DS_Store to .gitignore
  .gitignore
Due: none

feat: mount get_element
  crates/frender-dom/src/mount.rs
Due: none

chore: update deps
  Cargo.lock
Due: none

chore: wip
  crates/frender-hook-element/src/hook_context.rs
  crates/frender-hook-element/src/ssr.rs
Due: none

chore: remove release workflow
  .github/workflows/release.yml
  release.config.js
  scripts/ensure-crate.js
Due: yarn run lint:fix, prettier --write

chore: setup pages workflow for frender v2
  .github/workflows/pages.yml
  frender-book/book.toml
  scripts/build-examples.js
Due: yarn run lint:fix, prettier --write

feat: impl UpdateRenderState for array of elements
  crates/frender-core/src/elements/array.rs
Due: none

chore: remove snake_to_camel
  Cargo.lock
  crates/frender-macros/Cargo.toml
  crates/frender-macros/src/case.rs
  crates/frender-macros/src/lib.rs
Due: none

chore: refactor with grouped token stream
  crates/frender-macros/src/lib.rs
  crates/frender-macros/src/rsx_data.rs
  crates/frender-macros/src/rsx_to_tokens.rs
  crates/frender-macros/src/utils/grouped.rs
  crates/frender-macros/src/utils/mod.rs
Due: none

chore: refactor with PrefixPath
  crates/frender-macros/src/rsx_data.rs
  crates/frender-macros/src/rsx_to_tokens.rs
  crates/frender-macros/src/utils/mod.rs
  crates/frender-macros/src/utils/prefix_path.rs
Due: none

publish pages
  v2/examples/counter/counter-91bcb62356d89961.js
  v2/examples/counter/counter-91bcb62356d89961_bg.wasm
  v2/examples/counter/counter-96fe478656188295_bg.wasm
  v2/examples/counter/index.html
  v2/examples/tic-tac-toe/index.html
  v2/examples/tic-tac-toe/tic-tac-toe-9f7085fe9cbe8d78.js
  v2/examples/tic-tac-toe/tic-tac-toe-9f7085fe9cbe8d78_bg.wasm
  v2/examples/tic-tac-toe/tic-tac-toe-bb38c71b20cc669e_bg.wasm
Due: yarn run lint:fix, prettier --write

publish pages
  v2/examples/counter/counter-91bcb62356d89961_bg.wasm
  v2/examples/counter/counter-d77e89cd35b53a5b.js
  v2/examples/counter/counter-d77e89cd35b53a5b_bg.wasm
  v2/examples/counter/index.html
  v2/examples/tic-tac-toe/index.html
  v2/examples/tic-tac-toe/tic-tac-toe-5f664a73e5b12c9b.js
  v2/examples/tic-tac-toe/tic-tac-toe-5f664a73e5b12c9b_bg.wasm
  v2/examples/tic-tac-toe/tic-tac-toe-9f7085fe9cbe8d78_bg.wasm
Due: yarn run lint:fix, prettier --write

perf: inline simple functions
  crates/frender-dom/src/props/maybe.rs
  crates/frender-dom/src/props/update_value.rs
Due: none

chore: refactor
  crates/frender-core/src/elements/array.rs
Due: none

chore: not caching cargo target in pages workflow
  .github/workflows/pages.yml
Due: prettier --write

chore: update actions in pages workflow
  .github/workflows/pages.yml
Due: prettier --write

publish pages
  v2/examples/counter/counter-9648ed5226a82de2.js
  v2/examples/counter/counter-9648ed5226a82de2_bg.wasm
  v2/examples/counter/counter-d77e89cd35b53a5b_bg.wasm
  v2/examples/counter/index.html
  v2/examples/tic-tac-toe/index.html
  v2/examples/tic-tac-toe/tic-tac-toe-5f664a73e5b12c9b_bg.wasm
  v2/examples/tic-tac-toe/tic-tac-toe-7cea3931df659f64.js
  v2/examples/tic-tac-toe/tic-tac-toe-7cea3931df659f64_bg.wasm
Due: yarn run lint:fix, prettier --write

feat!: optimize hook component without props
  Cargo.lock
  crates/frender-hook-element/Cargo.toml
  crates/frender-hook-element/src/component_macro.rs
  crates/frender-hook-element/src/hook_with_no_props.rs
  crates/frender-macros/Cargo.toml
  crates/frender-macros/src/hook_component.rs
  crates/frender-macros/src/lib.rs
  examples/counter/Cargo.toml
  examples/counter/src/main.rs
  examples/tic-tac-toe/Cargo.toml
  examples/tic-tac-toe/src/main.rs
Due: none

publish pages
  v2/examples/counter/counter-830383539b7b82e4.js
  v2/examples/counter/counter-830383539b7b82e4_bg.wasm
  v2/examples/counter/counter-9648ed5226a82de2_bg.wasm
  v2/examples/counter/index.html
  v2/examples/tic-tac-toe/index.html
  v2/examples/tic-tac-toe/tic-tac-toe-36b731decd5a6dd0.js
  v2/examples/tic-tac-toe/tic-tac-toe-36b731decd5a6dd0_bg.wasm
  v2/examples/tic-tac-toe/tic-tac-toe-7cea3931df659f64_bg.wasm
Due: yarn run lint:fix, prettier --write

feat!: remove HookElementWithNoProps
  README.md
  crates/frender-hook-element/src/dom.rs
  crates/frender-hook-element/src/hook_with_no_props.rs
  crates/frender-hook-element/src/lib.rs
  crates/frender-hook-element/src/no_data.rs
  crates/frender-hook-element/src/ssr.rs
Due: prettier --write

feat!: optimize HookComponentWithOwnedProps
  crates/frender-hook-element/src/component_macro.rs
  crates/frender-hook-element/src/dom.rs
  crates/frender-hook-element/src/hook_with_owned_props.rs
  crates/frender-hook-element/src/ssr.rs
  examples/counter/src/my_counter.rs
  examples/counter/src/my_timer.rs
Due: none

feat!: no more dyn Any
  crates/frender-hook-element/src/ctx_and_state.rs
  crates/frender-hook-element/src/hook_with_no_props.rs
  crates/frender-hook-element/src/hook_with_owned_props.rs
Due: none

feat!: optimize HookComponentWithRefProps
  crates/frender-hook-element/src/ctx_and_state.rs
  crates/frender-hook-element/src/dom.rs
  crates/frender-hook-element/src/hook_with_no_props.rs
  crates/frender-hook-element/src/hook_with_owned_props.rs
  crates/frender-hook-element/src/hook_with_ref_props.rs
  crates/frender-hook-element/src/lib.rs
Due: none

feat!: optimize HookComponentWithRefProps
  crates/frender-hook-element/src/component_macro.rs
  crates/frender-hook-element/src/hook_with_ref_props.rs
  examples/counter/src/my_counter.rs
  examples/counter/src/my_timer.rs
Due: none

publish pages
  v2/book/index.html
  v2/book/print.html
  v2/book/searchindex.js
  v2/book/searchindex.json
  v2/examples/counter/counter-830383539b7b82e4_bg.wasm
  v2/examples/counter/counter-e0592963fb6c880.js
  v2/examples/counter/counter-e0592963fb6c880_bg.wasm
  v2/examples/counter/index.html
  v2/examples/tic-tac-toe/index.html
  v2/examples/tic-tac-toe/tic-tac-toe-36b731decd5a6dd0_bg.wasm
  v2/examples/tic-tac-toe/tic-tac-toe-f9c0c6df574bcf78.js
  v2/examples/tic-tac-toe/tic-tac-toe-f9c0c6df574bcf78_bg.wasm
Due: yarn run lint:fix, prettier --write

feat!: remove cache for dom element props to reduce code size
  crates/frender-dom/src/props/by_ref.rs
  crates/frender-dom/src/props/maybe.rs
  crates/frender-dom/src/props/maybe_update_value.rs
  crates/frender-dom/src/props/mod.rs
  crates/frender-dom/src/props/update_with_state/maybe.rs
  crates/frender-dom/src/props/update_with_state/mod.rs
  crates/frender-dom/src/props/update_with_state/update_value.rs
  crates/frender-html/src/html.rs
  crates/frender-html/src/lib.rs
  crates/frender-html/src/props/update_element_attribute.rs
  crates/frender-macros/src/intrinsic_component/data.rs
  crates/frender-macros/src/intrinsic_component/maybe.rs
  crates/frender-macros/src/intrinsic_component/maybe_details.rs
  crates/frender-macros/src/intrinsic_component/mod.rs
  crates/frender-macros/src/intrinsic_component/to_tokens.rs
Due: none

feat: optimize elements that only has one stated field and this field is inherited
  crates/frender-macros/src/intrinsic_component/to_tokens.rs
Due: none

Path conditions:
  yarn run lint:fix: any of: *.{js,ts}
  prettier --write: any of: *.{md,html,css,yml,yaml,json}
