Repository frender-rs/frender: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint:fix, prettier --write

.lintstagedrc.yml:

"*.{js,ts}": "yarn run lint:fix"
"*.{md,html,css,yml,yaml,json}": "prettier --write"

publish pages
  v2/examples/counter/counter-5c37022d0fdf3680.js
  v2/examples/counter/counter-5c37022d0fdf3680_bg.wasm
  v2/examples/counter/counter-e0592963fb6c880_bg.wasm
  v2/examples/counter/index.html
  v2/examples/tic-tac-toe/index.html
  v2/examples/tic-tac-toe/tic-tac-toe-dadd7b22a4d77a0a.js
  v2/examples/tic-tac-toe/tic-tac-toe-dadd7b22a4d77a0a_bg.wasm
  v2/examples/tic-tac-toe/tic-tac-toe-f9c0c6df574bcf78_bg.wasm
Due: yarn run lint:fix, prettier --write

publish pages
  v2/examples/counter/counter-5c37022d0fdf3680_bg.wasm
  v2/examples/counter/counter-e3ebafc4baae093d.js
  v2/examples/counter/counter-e3ebafc4baae093d_bg.wasm
  v2/examples/counter/index.html
  v2/examples/tic-tac-toe/index.html
  v2/examples/tic-tac-toe/tic-tac-toe-314eb5234a69155f.js
  v2/examples/tic-tac-toe/tic-tac-toe-314eb5234a69155f_bg.wasm
  v2/examples/tic-tac-toe/tic-tac-toe-dadd7b22a4d77a0a_bg.wasm
Due: yarn run lint:fix, prettier --write

feat!: make builder fn const
  crates/frender-html/src/element_macros.rs
  crates/frender-html/src/lib.rs
  crates/frender-macros/src/intrinsic_component/field.rs
  crates/frender-macros/src/intrinsic_component/inherit.rs
  crates/frender-macros/src/intrinsic_component/to_tokens.rs
  rust-toolchain.toml
Due: none

feat: trait MaybeUpdateValueWithState
  crates/frender-dom/src/props/mod.rs
  crates/frender-dom/src/props/update_with_state/maybe.rs
  crates/frender-dom/src/props/update_with_state/mod.rs
  crates/frender-dom/src/props/update_with_state/update_value.rs
  crates/frender-dom/src/props/with_state.rs
Due: none

feat!: re-enable cache state for maybe props
  crates/frender-html/src/lib.rs
  crates/frender-macros/src/intrinsic_component/data.rs
  crates/frender-macros/src/intrinsic_component/maybe.rs
  crates/frender-macros/src/intrinsic_component/maybe_details.rs
  crates/frender-macros/src/intrinsic_component/to_tokens.rs
Due: none

chore: use prettyplease to format expanded code
  Cargo.lock
  crates/frender-html-expand/Cargo.toml
  crates/frender-html-expand/src/main.rs
  crates/frender-html-expand/src/utils.rs
Due: none

chore: always inline builder fn
  crates/frender-html/src/element_macros.rs
  crates/frender-macros/src/intrinsic_component/field.rs
  crates/frender-macros/src/intrinsic_component/inherit.rs
  crates/frender-macros/src/intrinsic_component/to_tokens.rs
Due: none

publish pages
  v2/examples/counter/counter-48642a347f207085.js
  v2/examples/counter/counter-48642a347f207085_bg.wasm
  v2/examples/counter/counter-e3ebafc4baae093d_bg.wasm
  v2/examples/counter/index.html
  v2/examples/tic-tac-toe/index.html
  v2/examples/tic-tac-toe/tic-tac-toe-314eb5234a69155f_bg.wasm
  v2/examples/tic-tac-toe/tic-tac-toe-5b54e0261b46b26b.js
  v2/examples/tic-tac-toe/tic-tac-toe-5b54e0261b46b26b_bg.wasm
Due: yarn run lint:fix, prettier --write

feat!: redesign Option and Either
  Cargo.lock
  crates/frender-core/Cargo.toml
  crates/frender-core/src/elements/either.rs
  crates/frender-core/src/elements/mod.rs
  crates/frender-core/src/elements/option.rs
  crates/frender-core/src/elements/preserved/either.rs
  crates/frender-core/src/elements/preserved/mod.rs
  crates/frender-core/src/elements/preserved/option.rs
  crates/frender-core/src/lib.rs
  crates/frender-core/src/utils/lazy_pinned.rs
  crates/frender-core/src/utils/mod.rs
  crates/frender-hook-element/Cargo.toml
  crates/frender-hook-element/src/ctx_and_state.rs
  crates/frender-hook-element/src/hook_with_owned_props.rs
  crates/frender-hook-element/src/hook_with_ref_props.rs
Due: none

chore: cargo fmt
  crates/frender-hook-element/src/hook_context.rs
Due: none

chore: cargo clippy --fix
  crates/frender-core/src/elements/tuple.rs
  crates/frender-dom/src/element/str.rs
  crates/frender-dom/src/mount.rs
  crates/frender-dom/src/props/with_state.rs
  crates/frender-hook-element/src/hook_with_owned_props.rs
  crates/frender-hook-element/src/hook_with_ref_props.rs
  crates/frender-html-expand/src/main.rs
  crates/frender-html-expand/src/utils.rs
  crates/frender-html/src/props/event.rs
  crates/frender-macros/src/auto_intrinsic.rs
  crates/frender-macros/src/component_to_tokens.rs
  crates/frender-macros/src/err.rs
  crates/frender-macros/src/props_data.rs
  crates/frender-macros/src/props_to_tokens.rs
  crates/frender-macros/src/rsx_data.rs
  crates/frender-macros/src/rsx_to_tokens.rs
  crates/frender-ssr/src/bytes/write.rs
  examples/counter/src/my_timer.rs
  examples/tic-tac-toe/src/main.rs
  frender/src/debug.rs
  frender/tests/auto_debug.rs
Due: none

feat: refactor event listener fields
  crates/frender-html/src/html.rs
  crates/frender-macros/src/intrinsic_component/data.rs
  crates/frender-macros/src/intrinsic_component/event_listener.rs
  crates/frender-macros/src/intrinsic_component/mod.rs
  crates/frender-macros/src/intrinsic_component/to_tokens.rs
Due: none

chore: regenerate html expanded
  crates/frender-html/src/html_expanded/html/HtmlElementProps.rs
Due: none

publish pages
  v2/examples/counter/counter-48642a347f207085_bg.wasm
  v2/examples/counter/counter-f30df13fc79cc098.js
  v2/examples/counter/counter-f30df13fc79cc098_bg.wasm
  v2/examples/counter/index.html
  v2/examples/tic-tac-toe/index.html
  v2/examples/tic-tac-toe/tic-tac-toe-5b54e0261b46b26b_bg.wasm
  v2/examples/tic-tac-toe/tic-tac-toe-fb08372ab11abbb3.js
  v2/examples/tic-tac-toe/tic-tac-toe-fb08372ab11abbb3_bg.wasm
Due: yarn run lint:fix, prettier --write

fix: intrinsic elements event
  crates/frender-macros/src/intrinsic_component/to_tokens.rs
Due: none

feat: event listeners for html elements
  crates/frender-html/src/html.rs
  cspell.config.yaml
Due: prettier --write

chore: update dependencies
  Cargo.lock
Due: none

feat!: for intrinsic components, make Building an alias of Data
  crates/frender-macros/src/intrinsic_component/field.rs
  crates/frender-macros/src/intrinsic_component/inherit.rs
  crates/frender-macros/src/intrinsic_component/to_tokens.rs
Due: none

chore: publish examples with release target
  scripts/build-examples.js
Due: yarn run lint:fix

publish pages
  v2/examples/counter/counter-2937b34c0c7c8ffe.js
  v2/examples/counter/counter-2937b34c0c7c8ffe_bg.wasm
  v2/examples/counter/counter-f30df13fc79cc098_bg.wasm
  v2/examples/counter/index.html
  v2/examples/tic-tac-toe/index.html
  v2/examples/tic-tac-toe/tic-tac-toe-d0a8fc0589be4878.js
  v2/examples/tic-tac-toe/tic-tac-toe-d0a8fc0589be4878_bg.wasm
  v2/examples/tic-tac-toe/tic-tac-toe-fb08372ab11abbb3_bg.wasm
Due: yarn run lint:fix, prettier --write

chore: move counter/main.rs to lib.rs
  examples/counter/src/lib.rs
Due: none

chore: reduce binary size by splitting code into lib.rs so that trunk works
  examples/counter/src/main.rs
Due: none

chore: cargo fmt
  crates/frender-dom/src/element/str.rs
  crates/frender-dom/src/props/with_state.rs
  crates/frender-hook-element/src/hook_with_owned_props.rs
  crates/frender-html-expand/src/main.rs
  crates/frender-html-expand/src/utils.rs
  crates/frender-macros/src/props_to_tokens.rs
  crates/frender-macros/src/rsx_to_tokens.rs
Due: none

publish pages
  v2/examples/counter/counter-2937b34c0c7c8ffe_bg.wasm
  v2/examples/counter/counter-4ba61b64713d28d0.js
  v2/examples/counter/counter-4ba61b64713d28d0_bg.wasm
  v2/examples/counter/index.html
  v2/examples/tic-tac-toe/index.html
  v2/examples/tic-tac-toe/tic-tac-toe-db9b456d16067fbe.js
  v2/examples/tic-tac-toe/tic-tac-toe-db9b456d16067fbe_bg.wasm
Due: yarn run lint:fix, prettier --write

feat!: ssr
  crates/frender-dom/src/props/with_state.rs
  crates/frender-html/src/element_macros.rs
  crates/frender-macros/src/intrinsic_component/field.rs
  crates/frender-macros/src/intrinsic_component/kw.rs
  crates/frender-macros/src/intrinsic_component/to_tokens.rs
  crates/frender-ssr/src/bytes/cow_sliced.rs
  crates/frender-ssr/src/bytes/iter.rs
  crates/frender-ssr/src/bytes/mod.rs
  crates/frender-ssr/src/bytes/write.rs
  crates/frender-ssr/src/bytes/written.rs
  crates/frender-ssr/src/context.rs
  crates/frender-ssr/src/element/bytes.rs
  crates/frender-ssr/src/element/html.rs
  crates/frender-ssr/src/element/mod.rs
  crates/frender-ssr/src/into_ssr_data.rs
  crates/frender-ssr/src/lib.rs
  crates/frender-ssr/src/utils/filter.rs
  crates/frender-ssr/src/utils/mod.rs
Due: none

feat!: rewrite hook component
  crates/frender-core/src/elements/box_state.rs
  crates/frender-core/src/elements/option.rs
  crates/frender-core/src/render_state.rs
  crates/frender-core/src/utils/pin.rs
  crates/frender-dom/src/context.rs
  crates/frender-dom/src/mount.rs
  crates/frender-hook-element/src/component_macro.rs
  crates/frender-hook-element/src/ctx_and_state.rs
  crates/frender-hook-element/src/element.rs
  crates/frender-hook-element/src/hook_with_owned_props.rs
  crates/frender-hook-element/src/hook_with_ref_props.rs
  crates/frender-hook-element/src/lib.rs
  crates/frender-hook-element/src/ssr.rs
  crates/frender-macros/src/component_data.rs
  crates/frender-macros/src/component_macro/bg.rs
  crates/frender-macros/src/component_macro/main_item.rs
  crates/frender-macros/src/component_macro/mod.rs
  crates/frender-macros/src/component_macro/render_ctx.rs
  crates/frender-macros/src/component_macro/transform_fn.rs
  crates/frender-macros/src/component_to_tokens.rs
  crates/frender-macros/src/lib.rs
  crates/frender-macros/src/utils/mod.rs
  crates/frender-macros/src/utils/partial.rs
  crates/frender-macros/src/utils/value_or_path.rs
  examples/counter/src/lib.rs
  examples/counter/src/my_counter.rs
  examples/counter/src/my_timer.rs
  examples/tic-tac-toe/src/main.rs
Due: none

publish pages
  v2/examples/counter/counter-3d3437f6d3da3fee.js
  v2/examples/counter/counter-3d3437f6d3da3fee_bg.wasm
  v2/examples/counter/counter-4ba61b64713d28d0_bg.wasm
  v2/examples/counter/index.html
  v2/examples/tic-tac-toe/index.html
  v2/examples/tic-tac-toe/tic-tac-toe-d38574d60bc4ccaf.js
  v2/examples/tic-tac-toe/tic-tac-toe-d38574d60bc4ccaf_bg.wasm
  v2/examples/tic-tac-toe/tic-tac-toe-db9b456d16067fbe_bg.wasm
Due: yarn run lint:fix, prettier --write

wip: refactor
  crates/frender-dom/src/element/intrinsic.rs
  crates/frender-dom/src/element/mod.rs
  crates/frender-dom/src/props/event.rs
  crates/frender-dom/src/props/mod.rs
  crates/frender-dom/src/props/update_element.rs
  crates/frender-dom/src/props/update_element_attribute.rs
  crates/frender-dom/src/utils/dom.rs
  crates/frender-dom/src/utils/mod.rs
  crates/frender-html/src/element_macros.rs
  crates/frender-html/src/html.rs
  crates/frender-html/src/lib.rs
  crates/frender-html/src/props/event_listeners.rs
  crates/frender-html/src/props/events.rs
  crates/frender-html/src/props/mod.rs
  crates/frender-html/src/props/render.rs
  crates/frender-html/src/props/update.rs
  crates/frender-html/src/props/update_event_listeners.rs
  crates/frender-html/src/utils/mod.rs
  frender/src/lib.rs
Due: none

wip: refactor
  crates/frender-dom/src/props/mod.rs
  crates/frender-html/src/props/event.rs
  crates/frender-html/src/props/events.rs
  crates/frender-html/src/props/mod.rs
Due: none

wip: refactor
  Cargo.lock
  crates/frender-html-components/Cargo.toml
  crates/frender-html-components/src/html.rs
  crates/frender-html-components/src/html/element_macros.rs
  crates/frender-html-components/src/html/props_macros.rs
  crates/frender-html-components/src/lib.rs
  crates/frender-html/Cargo.toml
  crates/frender-html/src/lib.rs
  frender/Cargo.toml
  frender/src/lib.rs
Due: none

wip: refactor
  crates/frender-html-components/src/html.rs
  crates/frender-html-components/src/html_expanded/html/mod.rs
  crates/frender-html-expand/src/main.rs
Due: none
