Repository frender-rs/frender: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint:fix, prettier --write

feat(frender-macros): allow attrs in component macro
  crates/frender-macros/src/component_data.rs
  crates/frender-macros/src/component_to_tokens.rs
Due: none

feat(react): allow unsized WrapFn in html common props
  crates/react-html/src/macros/props.rs
  crates/react/src/event/handlers.rs
  crates/react/src/safe_into_js/closure.rs
Due: none

feat(react): impl Clone and Debug for WrapFn
  crates/react/src/safe_into_js/closure.rs
Due: none

chore: update README.md
  README.md
Due: prettier --write

publish pages
  examples/counter/index-10658c802c020660.js
  examples/counter/index-10658c802c020660_bg.wasm
  examples/counter/index-cfb9323d4f3a2cd0_bg.wasm
  examples/counter/index.html
  index.html
Due: yarn run lint:fix, prettier --write

chore(release): 1.0.0-alpha.6 [skip ci]
  CHANGELOG.md
  Cargo.lock
  crates/frender-macros/Cargo.toml
  crates/react-html/Cargo.toml
  crates/react/Cargo.toml
  frender/Cargo.toml
Due: prettier --write

Notes added by 'git notes add'
  4eb15f9eb99f3cef8fe6ef8ea60c9d30861b548c
Due: none

chore: update README.md [skip ci]
  README.md
Due: prettier --write

chore(examples): bypass jekyll on github pages
  .github/workflows/pages.yml
Due: prettier --write

feat(react): removed WrapFn*, added AnyFn*
  crates/react-html/src/macros/props.rs
  crates/react/src/any_fn_family/any_fn.rs
  crates/react/src/any_fn_family/any_fn_mut.rs
  crates/react/src/any_fn_family/any_fn_once.rs
  crates/react/src/any_fn_family/fn_of_args.rs
  crates/react/src/any_fn_family/mod.rs
  crates/react/src/event/handlers.rs
  crates/react/src/into_boxed.rs
  crates/react/src/lib.rs
  crates/react/src/node/any.rs
  crates/react/src/safe_into_js/closure.rs
  crates/react/src/safe_into_js/mod.rs
  crates/react/src/use_ref/use_ref.rs
Due: none

fix: AsKey::as_key should return Key
  crates/react/src/key.rs
Due: none

fix(frender-macros): key in rsx prop should not apply into_prop_value
  crates/frender-macros/src/rsx_to_tokens.rs
Due: none

example(tic-tac-toe): done
  Cargo.lock
  README.md
  examples/tic-tac-toe/Cargo.toml
  examples/tic-tac-toe/index.html
  examples/tic-tac-toe/src/data.rs
  examples/tic-tac-toe/src/main.rs
  examples/tic-tac-toe/styles.css
Due: prettier --write

publish pages
  .nojekyll
  examples/counter/index-10658c802c020660_bg.wasm
  examples/counter/index-a59aa6b6d44cabf2.js
  examples/counter/index-a59aa6b6d44cabf2_bg.wasm
  examples/counter/index.html
  examples/index.html
  examples/tic-tac-toe/index-8c5e8153d20f940b.js
  examples/tic-tac-toe/index-8c5e8153d20f940b_bg.wasm
  examples/tic-tac-toe/index.html
  examples/tic-tac-toe/snippets/react-sys-a4a9285efecc927b/helpers/helpers.js
  examples/tic-tac-toe/snippets/react-sys-a4a9285efecc927b/helpers/use-state.js
  examples/tic-tac-toe/styles-ccd113974e1a7b16.css
  index.html
Due: yarn run lint:fix, prettier --write

chore(release): 1.0.0-alpha.7 [skip ci]
  CHANGELOG.md
  Cargo.lock
  crates/frender-macros/Cargo.toml
  crates/react-html/Cargo.toml
  crates/react/Cargo.toml
  frender/Cargo.toml
Due: prettier --write

Notes added by 'git notes add'
  6ea9b4ed646fa37ef3b816667d5a700ae1456386
Due: none

chore(examples): fix examples list
  scripts/build-examples.js
Due: yarn run lint:fix

publish pages
  examples/counter/index-a59aa6b6d44cabf2_bg.wasm
  examples/counter/index-a734e1e3c795126.js
  examples/counter/index-a734e1e3c795126_bg.wasm
  examples/counter/index.html
  examples/index.html
  examples/tic-tac-toe/index-8c5e8153d20f940b_bg.wasm
  examples/tic-tac-toe/index-92cd62ce88ab98c9.js
  examples/tic-tac-toe/index-92cd62ce88ab98c9_bg.wasm
  examples/tic-tac-toe/index.html
  index.html
Due: yarn run lint:fix, prettier --write

feat: add default type Option<String> for prop `class`
  README.md
  crates/frender-macros/src/props_to_tokens.rs
Due: prettier --write

chore(release): 1.0.0-alpha.8 [skip ci]
  CHANGELOG.md
  Cargo.lock
  crates/frender-macros/Cargo.toml
  crates/react-html/Cargo.toml
  crates/react/Cargo.toml
  frender/Cargo.toml
Due: prettier --write

Notes added by 'git notes add'
  4343cce4d5204feb8ea481a26bf8e4597a7d3cb3
Due: none

chore: sync README.md with alpha branch [skip ci]
  README.md
Due: prettier --write

chore(docs): add frender book
  .github/workflows/pages.yml
  README.md
  frender-book/.gitignore
  frender-book/book.toml
  frender-book/src/README.md
  frender-book/src/SUMMARY.md
  frender-book/src/details/how-frender-works.md
  frender-book/src/details/rsx.md
  frender-book/src/guide/component.md
  frender-book/src/guide/hooks.md
  frender-book/src/guide/quick-start.md
  frender-book/src/guide/rsx.md
  frender-book/src/logo.svg
  scripts/build-examples.js
Due: yarn run lint:fix, prettier --write

chore(ide): use default rust analyzer settings in vscode
  .vscode/settings.json
Due: prettier --write

chore: wip [skip ci]
  Cargo.lock
  crates/frender-core/src/elements/array.rs
  crates/frender-core/src/elements/mod.rs
  crates/frender-core/src/lib.rs
  crates/frender-core/src/render_with_element.rs
  crates/frender-core/src/static_text.rs
  crates/frender-core/src/utils/pin.rs
  crates/frender-dom/Cargo.toml
  crates/frender-dom/src/element/mod.rs
  crates/frender-dom/src/element/scalar.rs
  crates/frender-dom/src/element/str.rs
  crates/frender-dom/src/lib.rs
  crates/frender-dom/src/utils/mod.rs
  crates/frender-dom/src/utils/option.rs
  crates/frender-hook-element/Cargo.toml
  crates/frender-hook-element/src/component_macro.rs
  crates/frender-hook-element/src/component_macro/mod.rs
  crates/frender-html/Cargo.toml
  crates/frender-html/src/element/button.rs
  crates/frender-html/src/element/mod.rs
  crates/frender-html/src/element/str_text.rs
  crates/frender-html/src/element/text.rs
  crates/frender-html/src/lib.rs
  crates/frender-html/src/props/event.rs
  crates/frender-html/src/utils/dom.rs
  crates/frender-html/src/utils/mod.rs
  crates/frender-ssr/src/element/mod.rs
  crates/frender-ssr/src/element/str.rs
Due: none

chore: wip
  Cargo.lock
  crates/frender-dom/src/lib.rs
  crates/frender-dom/src/props/maybe_str.rs
  crates/frender-dom/src/props/mod.rs
  crates/frender-html/Cargo.toml
  crates/frender-html/src/data_types/aria.rs
  crates/frender-html/src/data_types/html.rs
  crates/frender-html/src/data_types/mod.rs
  crates/frender-html/src/data_types/style.rs
  crates/frender-html/src/element/button.rs
  crates/frender-html/src/element/mod.rs
  crates/frender-html/src/lib.rs
  crates/frender-html/src/props/a.js
  crates/frender-html/src/props/element_types.rs
  crates/frender-html/src/props/event.rs
  crates/frender-html/src/props/event_listeners.rs
  crates/frender-html/src/props/events.rs
  crates/frender-html/src/props/html_common_shared_props.rs
  crates/frender-html/src/props/maybe_inherit.rs
  crates/frender-html/src/props/mod.rs
  crates/frender-html/src/props/string.rs
  crates/frender-html/src/props/style.rs
  crates/frender-html/src/props/update_element.rs
  crates/frender-html/src/utils/dom.rs
Due: yarn run lint:fix

chore: wip
  crates/frender-dom/src/props/maybe.rs
  crates/frender-dom/src/props/maybe_str.rs
  crates/frender-dom/src/props/mod.rs
  crates/frender-dom/src/props/update_value.rs
  crates/frender-html/Cargo.toml
  crates/frender-html/src/props/html_common_shared_props.rs
  crates/frender-html/src/props/maybe_inherit.rs
  crates/frender-html/src/props/mod.rs
  crates/frender-html/src/props/update_element.rs
  crates/frender-html/src/props/update_element_attribute.rs
Due: none

chore: wip
  crates/frender-html/Cargo.toml
  crates/frender-html/src/props/html_common_shared_props.rs
  crates/frender-html/src/props/update_element_attribute.rs
Due: none

chore: refactor
  crates/frender-html/src/element_macros.rs
  crates/frender-html/src/lib.rs
  crates/frender-html/src/props/html_common_shared_props.rs
Due: none

chore: wip
  crates/frender-html/src/element_macros.rs
  crates/frender-html/src/html.rs
  crates/frender-html/src/lib.rs
  crates/frender-html/src/props/element_types.rs
  crates/frender-html/src/props/mod.rs
  crates/frender-html/src/props/render.rs
  crates/frender-html/src/props/update_element.rs
  crates/frender-html/src/props/update_event_listeners.rs
  crates/frender-html/src/utils/dom.rs
Due: none

feat(frender-html): export mod html_components and intrinsic_components
  crates/frender-html/src/lib.rs
Due: none

wip: only works in release mode
  .github/workflows/release.yml
  Cargo.lock
  Cargo.toml
  crates/frender-core/src/elements/box_state.rs
  crates/frender-core/src/elements/mod.rs
  crates/frender-core/src/lib.rs
  crates/frender-core/src/macros/element_macro.rs
  crates/frender-core/src/macros/mod.rs
  crates/frender-core/src/render_state.rs
  crates/frender-dom/Cargo.toml
  crates/frender-dom/src/lib.rs
  crates/frender-dom/src/mount.rs
  crates/frender-hook-element/Cargo.toml
  crates/frender-hook-element/src/component_macro.rs
  crates/frender-hook-element/src/lib.rs
  crates/frender-html/Cargo.toml
  crates/frender-html/src/element_macros.rs
  crates/frender-html/src/html.rs
  crates/frender-html/src/props/render.rs
  crates/frender-html/src/props/update_element.rs
  crates/frender-macros/Cargo.toml
  crates/frender-macros/src/auto_intrinsic.rs
  crates/frender-macros/src/component_data.rs
  crates/frender-macros/src/component_to_tokens.rs
  crates/frender-macros/src/custom_element/data.rs
  crates/frender-macros/src/custom_element/mod.rs
  crates/frender-macros/src/custom_element/to_tokens.rs
  crates/frender-macros/src/lib.rs
  crates/frender-macros/src/rsx_data.rs
  crates/frender-macros/src/rsx_to_tokens.rs
  examples/counter/Cargo.toml
  examples/counter/index.html
  examples/counter/src/main.rs
  examples/counter/src/my_counter.rs
  examples/counter/src/my_timer.rs
  frender/Cargo.toml
  frender/src/intrinsic_components.rs
  frender/src/lib.rs
Due: prettier --write

chore: remove unused files
  examples/main.rs
Due: none

chore: refactor mount api
  crates/frender-dom/src/mount.rs
Due: none

chore: examples
  Cargo.lock
  Cargo.toml
  crates/frender-core/src/elements/keyed.rs
  crates/frender-core/src/elements/mod.rs
  crates/frender-hook-element/src/component_macro.rs
  crates/frender-html/src/props/event.rs
  examples/counter/.gitignore
  examples/counter/Cargo.toml
  examples/counter/src/main.rs
  examples/counter/src/my_timer.rs
  examples/counter/src/utils.rs
  examples/counter/tests/web.rs
  examples/tic-tac-toe/Cargo.toml
  examples/tic-tac-toe/index.html
  examples/tic-tac-toe/src/main.rs
  frender/src/lib.rs
Due: prettier --write

Path conditions:
  yarn run lint:fix: any of: *.{js,ts}
  prettier --write: any of: *.{md,html,css,yml,yaml,json}
