Repository frender-rs/frender: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint:fix, prettier --write

wip
  crates/frender-dom/src/component.rs
  crates/frender-element/src/element.rs
  crates/frender-hook-element/src/html/mod.rs
  crates/frender-html/src/impl_bounds.rs
  crates/frender-ssr/src/element/bytes.rs
  crates/frender-ssr/src/element/either.rs
  crates/frender-ssr/src/element/html.rs
  crates/frender-ssr/src/element/keyed.rs
  crates/frender-ssr/src/element/option.rs
  crates/frender-ssr/src/element/scalar.rs
  crates/frender-ssr/src/element/str.rs
  crates/frender-ssr/src/element/tuple.rs
  crates/frender-ssr/src/lib.rs
  crates/frender-ssr/src/str_iter.rs
  crates/frender-ssr/src/trait_element.rs
Due: none

wip: new ssr working
  Cargo.lock
  crates/frender-common/src/async_str.rs
  crates/frender-common/src/async_str/any_str.rs
  crates/frender-common/src/async_str/chain.rs
  crates/frender-common/src/async_str/empty.rs
  crates/frender-common/src/async_str/never.rs
  crates/frender-common/src/async_str/option.rs
  crates/frender-common/src/lib.rs
  crates/frender-dom/src/component.rs
  crates/frender-element/src/component/element.rs
  crates/frender-html-common/Cargo.toml
  crates/frender-html-common/src/content_editable.rs
  crates/frender-html-common/src/dom_token.rs
  crates/frender-html-common/src/update_with_state.rs
  crates/frender-html/src/html.rs
  crates/frender-html/src/impl_bounds.rs
  crates/frender-ssr-html/Cargo.toml
  crates/frender-ssr-html/src/assert.rs
  crates/frender-ssr-html/src/attr.rs
  crates/frender-ssr-html/src/attr_value.rs
  crates/frender-ssr-html/src/encode.rs
  crates/frender-ssr-html/src/escape_safe.rs
  crates/frender-ssr-html/src/lib.rs
  crates/frender-ssr/Cargo.toml
  crates/frender-ssr/src/async_str/flat.rs
  crates/frender-ssr/src/async_str/mod.rs
  crates/frender-ssr/src/element/bytes.rs
  crates/frender-ssr/src/element/either.rs
  crates/frender-ssr/src/element/html.rs
  crates/frender-ssr/src/element/keyed.rs
  crates/frender-ssr/src/element/option.rs
  crates/frender-ssr/src/element/scalar.rs
  crates/frender-ssr/src/element/str.rs
  crates/frender-ssr/src/element/tuple.rs
  crates/frender-ssr/src/lib.rs
  crates/frender-ssr/src/ssr_ext.rs
  crates/frender-ssr/src/str_iter.rs
  examples/ssr-to-string/src/main.rs
Due: none

wip: now `bool` is not `Element`
  crates/frender-html/src/html.rs
Due: none

wip
  crates/frender-dom/src/component.rs
  crates/frender-element/src/component/element.rs
  crates/frender-hook-element/src/html/mod.rs
  crates/frender-html/src/impl_bounds.rs
  crates/frender-html/src/macros.rs
  crates/frender-ssr-html/src/assert.rs
  crates/frender-ssr/src/element/bytes.rs
  crates/frender-ssr/src/element/either.rs
  crates/frender-ssr/src/element/html.rs
  crates/frender-ssr/src/element/keyed.rs
  crates/frender-ssr/src/element/mod.rs
  crates/frender-ssr/src/element/option.rs
  crates/frender-ssr/src/element/scalar.rs
  crates/frender-ssr/src/element/str.rs
  crates/frender-ssr/src/element/tuple.rs
  crates/frender-ssr/src/lib.rs
  crates/frender-ssr/src/render_state.rs
  crates/frender-ssr/src/ssr_ext.rs
  crates/frender-ssr/src/trait_element.rs
  examples/ssr-to-string/src/main.rs
Due: none

wip: remove unused code
  crates/frender-common/src/element.rs
  crates/frender-common/src/lib.rs
  crates/frender-common/src/write/attrs.rs
  crates/frender-common/src/write/element.rs
  crates/frender-common/src/write/mod.rs
  crates/frender-common/src/write/str.rs
  crates/frender-html-common/src/content_editable.rs
  crates/frender-html-common/src/dom_token.rs
  crates/frender-html-common/src/lib.rs
  crates/frender-html-common/src/update_with_state.rs
  crates/frender-html/src/impl_bounds.rs
  crates/frender-html/src/lib.rs
  crates/frender-ssr/src/lib.rs
  crates/frender-ssr/src/utils/filter.rs
  crates/frender-ssr/src/utils/mod.rs
  crates/frender-ssr/src/write_attrs.rs
Due: none

wip: remove unused code
  crates/frender-ssr/src/async_writable.rs
  crates/frender-ssr/src/bytes/any.rs
  crates/frender-ssr/src/bytes/cow_sliced.rs
  crates/frender-ssr/src/bytes/into.rs
  crates/frender-ssr/src/bytes/iter.rs
  crates/frender-ssr/src/bytes/mod.rs
  crates/frender-ssr/src/bytes/sliced.rs
  crates/frender-ssr/src/bytes/write.rs
  crates/frender-ssr/src/bytes/written.rs
  crates/frender-ssr/src/into_static_str.rs
  crates/frender-ssr/src/lib.rs
  crates/frender-ssr/src/maybe_owned.rs
  crates/frender-ssr/src/truncate_start_at.rs
  frender/src/elements/static_text.rs
Due: none

wip: remove unused code
  Cargo.lock
  crates/frender-ssr/Cargo.toml
  crates/frender-ssr/src/lib.rs
Due: none

wip: refactor
  crates/frender-dom/src/component.rs
  crates/frender-html/src/impl_bounds.rs
  crates/frender-ssr/src/element/keyed.rs
  crates/frender-ssr/src/element/option.rs
  crates/frender-ssr/src/element/tuple.rs
  crates/frender-ssr/src/lib.rs
  crates/frender-ssr/src/ssr_ext.rs
Due: none

wip: `cargo fmt -p frender-html`
  crates/frender-html/src/shims.rs
Due: none

wip: remove frender-csr
  Cargo.lock
  crates/frender-csr-web/Cargo.toml
  crates/frender-csr-web/src/mount.rs
  crates/frender-csr/Cargo.toml
  crates/frender-csr/src/context.rs
  crates/frender-csr/src/element/array.rs
  crates/frender-csr/src/element/boxed.rs
  crates/frender-csr/src/element/either.rs
  crates/frender-csr/src/element/intrinsic.rs
  crates/frender-csr/src/element/keyed.rs
  crates/frender-csr/src/element/mod.rs
  crates/frender-csr/src/element/non_reactive.rs
  crates/frender-csr/src/element/option.rs
  crates/frender-csr/src/element/scalar.rs
  crates/frender-csr/src/element/str.rs
  crates/frender-csr/src/element/tuple.rs
  crates/frender-csr/src/lib.rs
  crates/frender-csr/src/mount.rs
  crates/frender-csr/src/props/by_ref.rs
  crates/frender-csr/src/props/maybe_update_value.rs
  crates/frender-csr/src/props/mod.rs
  crates/frender-csr/src/props/update_element.rs
  crates/frender-csr/src/props/update_element_attribute.rs
  crates/frender-csr/src/render_state.rs
  crates/frender-csr/src/trait_element.rs
  crates/frender-csr/src/utils/mod.rs
  crates/frender-csr/src/utils/pin.rs
  crates/frender-csr/src/utils/reentrant.rs
  crates/frender-hook-element/Cargo.toml
  crates/frender-hook-element/src/lib.rs
  examples/counter-no-proc-macro/Cargo.toml
  frender/Cargo.toml
Due: none

wip: working
  Cargo.lock
  Cargo.toml
  crates/frender-element/Cargo.toml
  crates/frender-element/src/elements/either.rs
  crates/frender-element/src/elements/mod.rs
  examples/counter/Cargo.toml
  examples/counter/src/my_counter.rs
  examples/counter/src/my_timer.rs
  examples/keyed-elements/Cargo.toml
  examples/keyed-elements/src/main.rs
  frender/Cargo.toml
Due: none

wip: remove first class support for `bg`
  Cargo.lock
  crates/frender-macros/src/bg.rs
  examples/counter/Cargo.toml
  examples/counter/src/my_counter.rs
  examples/counter/src/my_timer.rs
  examples/keyed-elements/Cargo.toml
  frender/Cargo.toml
Due: none

wip: update callable to 0.4.0
  Cargo.lock
  Cargo.toml
  crates/frender-events/Cargo.toml
Due: none

publish pages
  v2/examples/counter-no-proc-macro/counter-no-proc-macro-5fb943c2f66ee78f.js
  v2/examples/counter-no-proc-macro/counter-no-proc-macro-5fb943c2f66ee78f_bg.wasm
  v2/examples/counter-no-proc-macro/counter-no-proc-macro-c4b3128ce9f8d9d0.js
  v2/examples/counter-no-proc-macro/counter-no-proc-macro-c4b3128ce9f8d9d0_bg.wasm
  v2/examples/counter-no-proc-macro/index.html
  v2/examples/counter/counter-a7fdae09e438994a.js
  v2/examples/counter/counter-a7fdae09e438994a_bg.wasm
  v2/examples/counter/counter-dcef26e0a22f9010.js
  v2/examples/counter/counter-dcef26e0a22f9010_bg.wasm
  v2/examples/counter/index.html
  v2/examples/keyed-elements/index.html
  v2/examples/keyed-elements/keyed-elements-6c9a81571b4696a5.js
  v2/examples/keyed-elements/keyed-elements-6c9a81571b4696a5_bg.wasm
  v2/examples/keyed-elements/keyed-elements-cc63a5549e0b7433.js
  v2/examples/keyed-elements/keyed-elements-cc63a5549e0b7433_bg.wasm
  v2/examples/tic-tac-toe/index.html
  v2/examples/tic-tac-toe/tic-tac-toe-68e7ee450b96c625.js
  v2/examples/tic-tac-toe/tic-tac-toe-68e7ee450b96c625_bg.wasm
  v2/examples/tic-tac-toe/tic-tac-toe-a78ea968a4296404.js
  v2/examples/tic-tac-toe/tic-tac-toe-a78ea968a4296404_bg.wasm
Due: yarn run lint:fix, prettier --write

chore: update README
  README.md
Due: prettier --write

publish pages
  v2/book/index.html
  v2/book/print.html
  v2/book/searchindex.js
  v2/book/searchindex.json
Due: yarn run lint:fix, prettier --write

chore: update README for v2
  README.md
Due: prettier --write

wip: refactor features
  Cargo.lock
  crates/frender-dom/Cargo.toml
  crates/frender-events/Cargo.toml
  crates/frender-html-common/Cargo.toml
  crates/frender-html/Cargo.toml
  crates/frender-html/src/html.rs
  crates/frender-html/src/impl_bounds.rs
  crates/frender-html/src/lib.rs
  frender/Cargo.toml
Due: none

wip: Element
  crates/frender-common/src/utils.rs
  crates/frender-csr-web/Cargo.toml
  crates/frender-element/Cargo.toml
  crates/frender-element/src/element.rs
  crates/frender-element/src/elements/array.rs
  crates/frender-element/src/elements/boxed.rs
  crates/frender-element/src/elements/intrinsic.rs
  crates/frender-element/src/elements/keyed.rs
  crates/frender-element/src/elements/mod.rs
  crates/frender-element/src/elements/non_reactive.rs
  crates/frender-element/src/elements/scalar.rs
  crates/frender-ssr/src/element/array.rs
  crates/frender-ssr/src/element/boxed.rs
  crates/frender-ssr/src/element/mod.rs
Due: none

wip: Element
  crates/frender-element/src/element.rs
Due: none

publish pages
  v2/examples/counter-no-proc-macro/counter-no-proc-macro-5fb943c2f66ee78f_bg.wasm
  v2/examples/counter-no-proc-macro/counter-no-proc-macro-ff96bf9079c0fb0b.js
  v2/examples/counter-no-proc-macro/counter-no-proc-macro-ff96bf9079c0fb0b_bg.wasm
  v2/examples/counter-no-proc-macro/index.html
  v2/examples/counter/counter-d573744b7f9da059.js
  v2/examples/counter/counter-d573744b7f9da059_bg.wasm
  v2/examples/counter/counter-dcef26e0a22f9010_bg.wasm
  v2/examples/counter/index.html
  v2/examples/keyed-elements/index.html
  v2/examples/keyed-elements/keyed-elements-6c9a81571b4696a5_bg.wasm
  v2/examples/keyed-elements/keyed-elements-d2a1b2ac5d3dc4a0.js
  v2/examples/keyed-elements/keyed-elements-d2a1b2ac5d3dc4a0_bg.wasm
  v2/examples/tic-tac-toe/index.html
  v2/examples/tic-tac-toe/tic-tac-toe-a78ea968a4296404_bg.wasm
  v2/examples/tic-tac-toe/tic-tac-toe-b8142ce8e5ab9407.js
  v2/examples/tic-tac-toe/tic-tac-toe-b8142ce8e5ab9407_bg.wasm
Due: yarn run lint:fix, prettier --write

wip: remove unused files
  crates/frender-ssr/src/element/intrinsic.rs
  crates/frender-ssr/src/element/mod.rs
Due: none

wip: now `SsrElement` is no t aliased as `Element`
  crates/frender-ssr/src/element/either.rs
  crates/frender-ssr/src/element/keyed.rs
  crates/frender-ssr/src/element/option.rs
  crates/frender-ssr/src/ssr_ext.rs
  crates/frender-ssr/src/trait_element.rs
Due: none

wip
  crates/frender-dom/src/csr/web/dom_token_list.rs
  crates/frender-dom/src/lib.rs
Due: none

publish pages
  v2/examples/keyed-elements/index.html
  v2/examples/keyed-elements/keyed-elements-a1e44dbff81154f5.js
  v2/examples/keyed-elements/keyed-elements-a1e44dbff81154f5_bg.wasm
  v2/examples/tic-tac-toe/index.html
  v2/examples/tic-tac-toe/tic-tac-toe-25549b7fd2f1b1d2.js
  v2/examples/tic-tac-toe/tic-tac-toe-25549b7fd2f1b1d2_bg.wasm
Due: yarn run lint:fix, prettier --write

wip: make `define!` rustfmt friendly
  crates/frender-html/src/html.rs
  crates/frender-html/src/macros.rs
Due: none

wip: remove unused code
  crates/frender-dom/src/component.rs
Due: none

wip: script child
  Cargo.lock
  crates/frender-dom/src/component.rs
  crates/frender-dom/src/lib.rs
  crates/frender-dom/src/script.rs
  crates/frender-html-common/src/lib.rs
  crates/frender-html-common/src/maybe_str.rs
  crates/frender-html/src/html.rs
  crates/frender-html/src/lib.rs
  crates/frender-html/src/macros.rs
  crates/frender-ssr-html/Cargo.toml
  crates/frender-ssr-html/src/assert.rs
  crates/frender-ssr-html/src/element.rs
  crates/frender-ssr-html/src/escape_safe.rs
  crates/frender-ssr-html/src/lib.rs
  crates/frender-ssr-html/src/script.rs
  crates/frender-ssr/Cargo.toml
  frender/Cargo.toml
  frender/src/lib.rs
  frender/tests/script.rs
Due: none

publish pages
  v2/examples/counter-no-proc-macro/counter-no-proc-macro-6392b2c3270c561d.js
  v2/examples/counter-no-proc-macro/counter-no-proc-macro-6392b2c3270c561d_bg.wasm
  v2/examples/counter-no-proc-macro/counter-no-proc-macro-ff96bf9079c0fb0b_bg.wasm
  v2/examples/counter-no-proc-macro/index.html
  v2/examples/counter/counter-b85bae188de29694.js
  v2/examples/counter/counter-b85bae188de29694_bg.wasm
  v2/examples/counter/counter-d573744b7f9da059_bg.wasm
  v2/examples/counter/index.html
  v2/examples/keyed-elements/index.html
  v2/examples/keyed-elements/keyed-elements-96b380119e880df.js
  v2/examples/keyed-elements/keyed-elements-96b380119e880df_bg.wasm
  v2/examples/keyed-elements/keyed-elements-a1e44dbff81154f5_bg.wasm
  v2/examples/tic-tac-toe/index.html
  v2/examples/tic-tac-toe/tic-tac-toe-25549b7fd2f1b1d2_bg.wasm
  v2/examples/tic-tac-toe/tic-tac-toe-7245e5b0fd8b9c35.js
  v2/examples/tic-tac-toe/tic-tac-toe-7245e5b0fd8b9c35_bg.wasm
Due: yarn run lint:fix, prettier --write

wip: CsrComponent
  crates/frender-dom/src/component.rs
  crates/frender-dom/src/element_types.rs
  crates/frender-dom/src/lib.rs
  crates/frender-element/src/component/element.rs
  crates/frender-element/src/element_types.rs
  crates/frender-element/src/lib.rs
  crates/frender-html/src/macros.rs
Due: none

wip: remove unused code
  crates/frender-element/src/elements/option.rs
  crates/frender-element/src/elements/tuple.rs
  crates/frender-element/src/lib.rs
  crates/frender-element/src/pin_mut_maybe_uninit.rs
Due: none

wip: move `Element` and `RenderState` to `frender-html`
  Cargo.lock
  crates/frender-element/Cargo.toml
  crates/frender-element/src/component/element.rs
  crates/frender-element/src/component/mod.rs
  crates/frender-element/src/component/states.rs
  crates/frender-element/src/element_types.rs
  crates/frender-element/src/elements/array.rs
  crates/frender-element/src/elements/boxed.rs
  crates/frender-element/src/lib.rs
  crates/frender-element/src/render_element.rs
  crates/frender-html/Cargo.toml
  crates/frender-html/src/element.rs
  crates/frender-html/src/element_types.rs
  crates/frender-html/src/elements/array.rs
  crates/frender-html/src/elements/boxed.rs
  crates/frender-html/src/elements/either.rs
  crates/frender-html/src/elements/intrinsic.rs
  crates/frender-html/src/elements/keyed.rs
  crates/frender-html/src/elements/mod.rs
  crates/frender-html/src/elements/option.rs
  crates/frender-html/src/elements/scalar.rs
  crates/frender-html/src/elements/str.rs
  crates/frender-html/src/elements/tuple.rs
  crates/frender-html/src/lib.rs
Due: none

feat: script
  Cargo.lock
  crates/frender-csr-web/Cargo.toml
  crates/frender-dom/Cargo.toml
  crates/frender-dom/src/behaviors.rs
  crates/frender-dom/src/script.rs
  crates/frender-html-common/Cargo.toml
  crates/frender-html-common/src/maybe_str.rs
  crates/frender-html-common/src/update_with_state.rs
  crates/frender-html/Cargo.toml
  crates/frender-html/src/element_types.rs
  crates/frender-html/src/elements/intrinsic.rs
  crates/frender-html/src/elements/mod.rs
  crates/frender-html/src/elements/non_reactive.rs
  crates/frender-html/src/html.rs
  crates/frender-html/src/lib.rs
  crates/frender-html/src/macros.rs
  crates/frender-ssr-html/src/assert.rs
  crates/frender-ssr-html/src/script.rs
  examples/html-elements/Cargo.toml
  examples/html-elements/index.html
  examples/html-elements/src/main.rs
Due: prettier --write

publish pages
  v2/examples/counter-no-proc-macro/counter-no-proc-macro-14a877cbec79c9d4.js
  v2/examples/counter-no-proc-macro/counter-no-proc-macro-14a877cbec79c9d4_bg.wasm
  v2/examples/counter-no-proc-macro/counter-no-proc-macro-6392b2c3270c561d_bg.wasm
  v2/examples/counter-no-proc-macro/index.html
  v2/examples/counter/counter-b85bae188de29694_bg.wasm
  v2/examples/counter/counter-d38abe57aadb1450.js
  v2/examples/counter/counter-d38abe57aadb1450_bg.wasm
  v2/examples/counter/index.html
  v2/examples/html-elements/html-elements-c177e1707705e07.js
  v2/examples/html-elements/html-elements-c177e1707705e07_bg.wasm
  v2/examples/html-elements/index.html
  v2/examples/index.html
  v2/examples/keyed-elements/index.html
  v2/examples/keyed-elements/keyed-elements-96b380119e880df_bg.wasm
  v2/examples/keyed-elements/keyed-elements-de36b9114911013a.js
  v2/examples/keyed-elements/keyed-elements-de36b9114911013a_bg.wasm
  v2/examples/tic-tac-toe/index.html
  v2/examples/tic-tac-toe/tic-tac-toe-3bfc9a14d118268a.js
  v2/examples/tic-tac-toe/tic-tac-toe-3bfc9a14d118268a_bg.wasm
  v2/examples/tic-tac-toe/tic-tac-toe-7245e5b0fd8b9c35_bg.wasm
  v2/index.html
Due: yarn run lint:fix, prettier --write

feat: void elements
  crates/frender-html/src/element_types.rs
  crates/frender-html/src/html.rs
  crates/frender-html/src/lib.rs
  crates/frender-html/src/special/mod.rs
  crates/frender-html/src/special/script.rs
  crates/frender-html/src/special/void_elements.rs
  crates/frender-ssr-html/src/assert.rs
  crates/frender-ssr-html/src/element.rs
  examples/html-elements/src/main.rs
Due: none

feat: style element
  crates/frender-html/src/html.rs
  crates/frender-html/src/special/mod.rs
  crates/frender-html/src/special/style.rs
  crates/frender-ssr-html/src/assert.rs
  crates/frender-ssr-html/src/element.rs
  crates/frender-ssr-html/src/encode.rs
  crates/frender-ssr-html/src/escape_safe.rs
  examples/html-elements/src/main.rs
Due: none

refactor: separate attributes from their states
  crates/frender-html/src/impl_bounds.rs
  crates/frender-html/src/macros.rs
Due: none

Path conditions:
  yarn run lint:fix: any of: *.{js,ts}
  prettier --write: any of: *.{md,html,css,yml,yaml,json}
